<!-- floating action -->
<button [routerLink]="['/destTank', 'new']" routerLinkActive="router-link-active" type="button" class="btn btn-success btn-floated">
  <span class="fa fa-plus"></span>
</button>
<!-- /floating action -->
<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div>
            <!-- /.btn-toolbar -->
            <!-- .form-group -->
            <div class="form-group">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
                    <!-- .input-group -->
                    <div class="input-group has-clearable">
                        <button id="clear-search" type="button" class="close" aria-label="Close"> <span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                        </div>
                        <input id="table-search" type="text" class="form-control" placeholder="Buscar aquí" />
                    </div>
                    <!-- /.input-group -->
                    <!-- .input-group-prepend -->
                    <div class="input-group-prepend">
                        <select id="filterBy" class="custom-select">
                            <option value="" selected> Filtros </option>
                            <option value="0"> Nombre </option>
                            <option value="2"> Kilómetros </option>
                        </select>
                    </div>
                    <!-- /.input-group-prepend -->
                </div>
                <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
            <!-- .table -->
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Kilómetros</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let destination of destTanks">
                        <td class="align-middle text-truncate">
                            {{ destination.name }}
                        </td>
                        <td> {{ destination.km | number: '1.2-2' }} km </td>
                        <td class="align-middle text-right">
                            <a [routerLink]="[ '/destTank', destination._id ]" class=" btn btn-sm btn-icon btn-secondary" alt="Editar" title="Editar"><i class="fa fa-pencil-alt "></i> <span class="sr-only ">Editar</span></a>
                            <a class="btn btn-sm btn-icon btn-secondary pointer" (click)="borrarDestino( destination )"><i class="far fa-trash-alt "></i> <span class="sr-only ">Remove</span></a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th>Nombre</th>
                        <th>Kilómetros</th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->