<!-- .section-block -->
<div class="section-block">
    <h1 class="section-title"> ¡Nueva Actualización! </h1>
    <p class="text-muted"> Aquí podrás ver temporalmente las nuevas caracteristicas que se van agregando al sistema... </p>
</div>
<!-- /.section-block -->
<!-- grid row -->
<div class="row">
    <!-- grid column -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <a [routerLink]="['/repairs']" routerLinkActive="router-link-active">
            <!-- .card -->
            <div class="card card-figure is-hoverable">
                <!-- .card-figure -->
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/builds/repairs.jpg" alt="Card image cap">
                    <!-- .figure-caption -->
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"> Reparaciones y ajustes </h6>
                        <p class="text-muted mb-0"> Ajustes de lubricantes o repuestos para cualquier unidad en cualquier momento </p>
                    </figcaption>
                    <!-- /.figure-caption -->
                </figure>
                <!-- /.card-figure -->
            </div>
            <!-- /.card -->
        </a>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <a [routerLink]="['/typeTrips']" routerLinkActive="router-link-active">
            <!-- .card -->
            <div class="card card-figure is-hoverable">
                <!-- .card-figure -->
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/builds/tariff.jpg" alt="Card image cap">
                    <!-- .figure-caption -->
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"> Tarifas personalizadas </h6>
                        <p class="text-muted mb-0"> Creación de tarifas en base al tipo de viaje </p>
                    </figcaption>
                    <!-- /.figure-caption -->
                </figure>
                <!-- /.card-figure -->
            </div>
            <!-- /.card -->
        </a>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <a [routerLink]="['/gtrips']" routerLinkActive="router-link-active">
            <!-- .card -->
            <div class="card card-figure is-hoverable">
                <!-- .card-figure -->
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/builds/greenTrips.jpg" alt="Card image cap">
                    <!-- .figure-caption -->
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"> Reporte de cuadros </h6>
                        <p class="text-muted mb-0"> Ingreso de reporte de cuadros habilitado de nuevo </p>
                    </figcaption>
                    <!-- /.figure-caption -->
                </figure>
                <!-- /.card-figure -->
            </div>
            <!-- /.card -->
        </a>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <a [routerLink]="['/reports']" routerLinkActive="router-link-active">
            <!-- .card -->
            <div class="card card-figure is-hoverable">
                <!-- .card-figure -->
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/builds/reports.jpg" alt="Card image cap">
                    <!-- .figure-caption -->
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"> Nueva sección de reportes </h6>
                        <p class="text-muted mb-0"> Reportes globales para la administración de todo el sistema. (Se agregarán más en el futuro) </p>
                    </figcaption>
                    <!-- /.figure-caption -->
                </figure>
                <!-- /.card-figure -->
            </div>
            <!-- /.card -->
        </a>
    </div>
    <!-- /grid column -->
    <!-- grid column -->
    <div class="col-xl-3 col-lg-4 col-sm-6">
        <a [routerLink]="['/buySpare/new']" routerLinkActive="router-link-active">
            <!-- .card -->
            <div class="card card-figure is-hoverable">
                <!-- .card-figure -->
                <figure class="figure">
                    <img class="img-fluid" src="assets/images/builds/discount.jpg" alt="Card image cap">
                    <!-- .figure-caption -->
                    <figcaption class="figure-caption">
                        <h6 class="figure-title"> Descuento en las compras </h6>
                        <p class="text-muted mb-0"> Se agregó un campo para registrar un descuento en las compras. </p>
                    </figcaption>
                    <!-- /.figure-caption -->
                </figure>
                <!-- /.card-figure -->
            </div>
            <!-- /.card -->
        </a>
    </div>
    <!-- /grid column -->
</div>
<!-- /grid row -->