<!-- .section-block -->
<div class="section-block">
  <h1 class="section-title"> ¡Nueva Actualización! </h1>
  <p class="text-muted"> Aquí podrás ver temporalmente las nuevas caracteristicas que se van agregando al sistema...
  </p>
</div>
<!-- /.section-block -->
<!-- grid row -->
<div class="row">
  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <a [routerLink]="['/orders']" routerLinkActive="router-link-active">
      <!-- .card -->
      <div class="card card-figure is-hoverable">
        <!-- .card-figure -->
        <figure class="figure">
          <img class="img-fluid" src="assets/images/builds/whiteTrips.jpg" alt="Card image cap">
          <!-- .figure-caption -->
          <figcaption class="figure-caption">
            <h6 class="figure-title"> Ingreso y listado de reportes </h6>
            <p class="text-muted mb-0"> Manejo de reportes por orden pendiente de entrega </p>
          </figcaption>
          <!-- /.figure-caption -->
        </figure>
        <!-- /.card-figure -->
      </div>
      <!-- /.card -->
    </a>
  </div>
  <!-- /grid column -->
  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <a [routerLink]="['/orders']" routerLinkActive="router-link-active">
      <!-- .card -->
      <div class="card card-figure is-hoverable">
        <!-- .card-figure -->
        <figure class="figure">
          <img class="img-fluid" src="assets/images/builds/pulls.jpg" alt="Card image cap">
          <!-- .figure-caption -->
          <figcaption class="figure-caption">
            <h6 class="figure-title"> Ordenes Pendientes </h6>
            <p class="text-muted mb-0"> Control de pulls de materiales pendientes de entrega </p>
          </figcaption>
          <!-- /.figure-caption -->
        </figure>
        <!-- /.card-figure -->
      </div>
      <!-- /.card -->
    </a>
  </div>
  <!-- /grid column -->
  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <a [routerLink]="['/order', 'new']" routerLinkActive="router-link-active">
      <!-- .card -->
      <div class="card card-figure is-hoverable">
        <!-- .card-figure -->
        <figure class="figure">
          <img class="img-fluid" src="assets/images/builds/order.jpg" alt="Card image cap">
          <!-- .figure-caption -->
          <figcaption class="figure-caption">
            <h6 class="figure-title"> Crear Orden </h6>
            <p class="text-muted mb-0"> Ordenes previas al reporte de lineas por destino y fecha</p>
          </figcaption>
          <!-- /.figure-caption -->
        </figure>
        <!-- /.card-figure -->
      </div>
      <!-- /.card -->
    </a>
  </div>
  <!-- /grid column -->
  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <a [routerLink]="['/gtrips']" routerLinkActive="router-link-active">
      <!-- .card -->
      <div class="card card-figure is-hoverable">
        <!-- .card-figure -->
        <figure class="figure">
          <img class="img-fluid" src="assets/images/builds/menu.jpg" alt="Card image cap">
          <!-- .figure-caption -->
          <figcaption class="figure-caption">
            <h6 class="figure-title"> Reordenamiento del menu principal </h6>
            <p class="text-muted mb-0"> Se creó un menu especifico para tipos de producción y reportes de cuadros </p>
          </figcaption>
          <!-- /.figure-caption -->
        </figure>
        <!-- /.card-figure -->
      </div>
      <!-- /.card -->
    </a>
  </div>
  <!-- /grid column -->
  <!-- grid column -->
  <div class="col-xl-3 col-lg-4 col-sm-6">
    <a [routerLink]="['/destinations']" routerLinkActive="router-link-active">
      <!-- .card -->
      <div class="card card-figure is-hoverable">
        <!-- .card-figure -->
        <figure class="figure">
          <img class="img-fluid" src="assets/images/builds/destinations.jpg" alt="Card image cap">
          <!-- .figure-caption -->
          <figcaption class="figure-caption">
            <h6 class="figure-title"> Matenimiento de destinos </h6>
            <p class="text-muted mb-0"> Destinos para resportes de lineas </p>
          </figcaption>
          <!-- /.figure-caption -->
        </figure>
        <!-- /.card-figure -->
      </div>
      <!-- /.card -->
    </a>
  </div>
  <!-- /grid column -->
</div>
<!-- /grid row -->
