<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" data-toggle="modal" data-target="#addGas"><span class="fa fa-plus"></span></button>
<!-- /floating action -->
<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <div class=" card-header d-flex">
            <!-- .form-group -->
            <div class="form-group col-3">
                <label class="control-label" for="flatpickr02">Fecha de inicio</label>
                <input #date1 name="date1" id="flatpickr" type="text" class="form-control" required>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group col-3">
                <label class="control-label" for="flatpickr02">Fecha final</label>
                <input #date2 name="date2" id="flatpickr" type="text" class="form-control" required>
            </div>
            <!-- /.form-group -->
            <button type="button" [ngStyle]="{'margin-top': '29px'}" (click)="searchG()" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
            <button type="button" (click)="createReport()" data-toggle="modal" data-target="#modalReport" class="btn btn-outline-primary ml-auto">Generar Reporte <i class="fas fa-print"></i></button>
        </div>
        <!-- .card-body -->
        <div class="card-body">
            <div class="row">

            </div>
            <!-- .section-block -->
            <div class="section-block">
                <!-- metric row -->
                <div class="metric-row">
                    <!-- metric column -->
                    <div class="col">
                        <!-- .metric -->
                        <div class="metric metric-bordered">
                            <h2 class="metric-label"> Total Gastado </h2>
                            <p class="metric-value h1">
                                <sup>Q</sup> <span class="value">{{ totalGas | number : '1.2-2' }}</span>
                            </p>
                        </div>
                        <!-- /.metric -->
                    </div>
                    <!-- /metric column -->
                    <!-- metric column -->
                    <div class="col">
                        <!-- .metric -->
                        <div class="metric metric-bordered">
                            <h2 class="metric-label"> Galones </h2>
                            <p class="metric-value h1">
                                <sup>#</sup> <span class="value">{{ totalGal | number : '1.0' }}</span>
                            </p>
                        </div>
                        <!-- /.metric -->
                    </div>
                    <!-- /metric column -->
                    <!-- metric column -->
                    <div class="col">
                        <!-- .metric -->
                        <div class="metric metric-bordered">
                            <h2 class="metric-label"> Cupones </h2>
                            <p class="metric-value h1">
                                <sup>#</sup> <span class="value">{{ this.gasolines.length }}</span>
                            </p>
                        </div>
                        <!-- /.metric -->
                    </div>
                    <!-- /metric column -->
                    <!-- metric column -->
                    <div class="col">
                        <!-- .metric -->
                        <div class="metric metric-bordered">
                            <h2 class="metric-label"> Fechas consultadas </h2>
                            <p class="metric-value h4">
                                <span class="value">{{ this.fecha1Consulta + ' - ' + this.fecha2Consulta }}</span>
                            </p>
                        </div>
                        <!-- /.metric -->
                    </div>
                    <!-- /metric column -->
                </div>
                <!-- /metric row -->
            </div>
            <!-- /.section-block -->
            <!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div>
            <!-- /.btn-toolbar -->
            <!-- .form-group -->
            <div class="form-group">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
                    <!-- .input-group -->
                    <div class="input-group has-clearable">
                        <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                        </div><input id="table-search" type="text" class="form-control" placeholder="Buscar aquí">
                    </div>
                    <!-- /.input-group -->
                    <!-- .input-group-prepend -->
                    <div class="input-group-prepend">
                        <select id="filterBy" class="custom-select">
                            <option value='' selected> Filtros </option>
                            <option value="0"> Vehículo </option>
                            <option value="1"> Fecha </option>
                            <option value="2"> Código </option>
                            <option value="3"> Galones </option>
                            <option value="4"> Total </option>
                        </select>
                    </div>
                    <!-- /.input-group-prepend -->
                </div>
                <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
            <!-- .table -->
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th> Vehículo </th>
                        <th> Fecha </th>
                        <th> Código </th>
                        <th class="sum"> Galones </th>
                        <th> Total </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gasoline of gasolines">
                        <td class="align-middle text-truncate">
                            <div class="media align-items-center">
                                <!-- .list-group-item-figure -->
                                <div *ngIf="gasoline.type==='camion'" class="list-group-item-figure">
                                    <div class="tile tile-circle bg-yellow"> <i class="fas fa-truck"></i></div>
                                </div>
                                <!-- /.list-group-item-figure -->
                                <div *ngIf="gasoline.type==='camion'" class="media-body">
                                    <label>Camión <br> {{ gasoline.plate }}</label>
                                </div>
                                <!-- .list-group-item-figure -->
                                <div *ngIf="gasoline.type==='camionG'" class="list-group-item-figure">
                                    <div class="tile tile-circle bg-orange"> <i class="fas fa-truck-moving"></i> </div>
                                </div>
                                <!-- /.list-group-item-figure -->
                                <!-- .list-group-item-body -->
                                <div *ngIf="gasoline.type==='camionG'" class="media-body">
                                    <label>Camión Gondola <br> {{ gasoline.plate }}</label>
                                </div>
                                <!-- /.list-group-item-body -->
                                <!-- .list-group-item-figure -->
                                <div *ngIf="gasoline.type==='vehiculo'" class="list-group-item-figure">
                                    <div class="tile tile-circle bg-blue"> <i class="fas fa-truck-pickup"></i> </div>
                                </div>
                                <!-- /.list-group-item-figure -->
                                <!-- .list-group-item-body -->
                                <div *ngIf="gasoline.type==='vehiculo'" class="media-body">
                                    <label>Vehículo <br> {{ gasoline.plate }}</label>
                                </div>
                                <!-- /.list-group-item-body -->
                                <!-- .list-group-item-figure -->
                                <div *ngIf="gasoline.type==='riego'" class="list-group-item-figure">
                                    <div class="tile tile-circle bg-green"> <i class="fas fa-truck-monster"></i> </div>
                                </div>
                                <!-- /.list-group-item-figure -->
                                <!-- .list-group-item-body -->
                                <div *ngIf="gasoline.type==='riego'" class="media-body">
                                    <label>Camión para riego <br> {{ gasoline.plate }}</label>
                                </div>
                                <!-- /.list-group-item-body -->
                                <!-- .list-group-item-figure -->
                                <div *ngIf="gasoline.type==='stock'" class="list-group-item-figure">
                                    <div class="tile tile-circle bg-pink"> <i class="fas fa-snowplow"></i> </div>
                                </div>
                                <!-- /.list-group-item-figure -->
                                <!-- .list-group-item-body -->
                                <div *ngIf="gasoline.type==='stock'" class="media-body">
                                    <label>Excavadora <br> {{ gasoline.plate }}</label>
                                </div>
                                <!-- /.list-group-item-body -->
                            </div>
                        </td>
                        <td class="align-middle">
                            {{ dtService.fromJsonDate(gasoline.date) }}
                        </td>
                        <td class="align-middle">{{ gasoline.code }}</td>
                        <td class="align-middle"> {{ gasoline.gallons }} </td>
                        <td class="align-middle">Q {{ gasoline.total | number : '1.2-2' }} </td>
                        <td class="align-middle text-right">
                            <button (click)="editarGas( gasoline._id, gasoline.idVehicle )" type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="modal" data-target="#addGas"><i class="fa fa-pencil-alt"></i> <span class="sr-only">Editar</span></button>
                            <button (click)="deleteGas( gasoline._id, gasoline.idVehicle )" type="button" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span class="sr-only">Eliminar</span></button>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th> Vehículo </th>
                        <th> Fecha </th>
                        <th> Código </th>
                        <th> Galones </th>
                        <th> Total </th>
                        <th></th>
                    </tr>
                </tfoot>
            </table>
            <ng-template #customLoadingTemplate>
            </ng-template>
            <!-- /.table -->
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->

<!-- .modalREPORT -->
<div class="modal fade" id="modalReport" role="dialog" aria-labelledby="clientContactNewModalLabel" aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog modal-lg" role="document">
        <!-- .modal-content -->
        <div class="modal-content">
            <!-- .modal-header -->
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-gas-pump"></i> Reporte de combustible </h5>
            </div>
            <!-- /.modal-header -->
            <!-- .modal-body -->
            <div class="modal-body">
                <!-- .section-block -->
                <div class="section-block">
                    <!-- .invoice-wrapper -->
                    <div id="benito" class="invoice-wrapper">
                        <!-- .invoice-actions -->
                        <div class="invoice-actions">
                            <div class="dropdown">
                                <button type="button" class="btn btn-lg btn-secondary rounded-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fa fa-caret-down"></span></button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <div class="dropdown-arrow mr-1"></div><button type="button" id="download-pdf" class="dropdown-item">Descargar PDF</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.invoice-actions -->
                        <!-- .invoice -->
                        <div id="invoice" class="invoice" data-id="RPT-COMBUSTIBLE">
                            <!-- .invoice-header -->
                            <div class="invoice-header">
                                <!-- grid row -->
                                <div class="row">
                                    <!-- .col -->
                                    <div class="col d-flex">
                                        <h2 class="invoice-brand align-self-center">
                                            <img src="assets/images/logo-min.png" width="270" alt=""> <span class="sr-only">Reporte la Viña S.A</span>
                                        </h2>
                                    </div>
                                    <!-- /.col -->
                                    <!-- .col -->
                                    <div class="col">
                                        <table class="table table-borderless table-sm">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <small>Usuario</small><br>
                                                        <h5> {{ usuario.name + ' ' + usuario.lastName }} </h5>
                                                    </td>
                                                    <td colspan="2">
                                                        <small>Fecha</small><br>
                                                        <h5> {{ today | date:"dd/MM/yyyy HH:mm"}} </h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <!-- /.col -->
                                </div>
                                <!-- /grid row -->
                            </div>
                            <!-- /.invoice-header -->
                            <!-- .invoice-body -->
                            <div class="invoice-body">
                                <table class="table table-sm">
                                    <caption class="invoice-title">
                                        <span>Reporte</span><br>
                                        <span class="text-primary">Consumo de combustible {{ fecha1Consulta + ' - ' +  fecha2Consulta}} </span>
                                    </caption>
                                    <thead>
                                        <tr>
                                            <th><strong>Vehículo</strong></th>
                                            <th> Fecha </th>
                                            <th> Código </th>
                                            <th class="text-right"> Galones </th>
                                            <th class="text-right"> Total (Q) </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let gasoline of gasolines">
                                            <td>
                                                <p>{{ gasoline.plate }}</p>
                                            </td>
                                            <td> {{ dtService.fromJsonDate(gasoline.date) }} </td>
                                            <td> {{ gasoline.code }} </td>
                                            <td class="text-right"> {{ gasoline.gallons }} </td>
                                            <td class="text-right"> Q{{ gasoline.total | number : '1.2-2' }} </td>
                                        </tr>
                                        <!-- fake border -->
                                        <tr>
                                            <td colspan="5"></td>
                                        </tr>
                                    </tbody>
                                    <tfoot class="table-borderless">
                                        <tr>
                                            <th colspan="2"></th>
                                            <th> Total </th>
                                            <th class="text-right"> {{ totalGal | number : '1.2-2' }} </th>
                                            <th class="text-right"> Q{{ totalGas | number : '1.2-2' }} </th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.invoice-body -->
                            <!-- .invoice-footer -->
                            <div class="invoice-footer">
                                <p><strong>Copyright &copy; APPLITECH SOFTWARE SOLUTIONS.
                                </strong> Todos Los Derechos Reservados.</p>
                            </div>
                            <!-- /.invoice-footer -->
                        </div>
                        <!-- /.invoice -->
                    </div>
                    <!-- /.invoice-wrapper -->
                </div>
                <!-- /.section-block -->
            </div>
            <!-- /.modal-body -->
            <!-- .modal-footer -->
            <div class="modal-footer">
                <button #closeMG type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modalREPORT -->
<!-- .modalGASOLINE -->
<div class="modal fade" id="addGas" role="dialog" aria-labelledby="clientContactNewModalLabel" aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog" role="document">
        <!-- .modal-content -->
        <div class="modal-content">
            <!-- .modal-header -->
            <div class="modal-header">
                <h5 class="modal-title"><i class="fas fa-gas-pump"></i> Ingresar cupón </h5>
            </div>
            <!-- /.modal-header -->
            <form ngNativeValidate [formGroup]="formGas" (ngSubmit)="addGas()" action="#">
                <!-- .modal-body -->
                <div class="modal-body">
                    <!-- .form-group -->
                    <div class="form-group">
                        <label class="control-label">Vehículo</label>
                        <select #selectV name="vehicle" class="form-control select2" id="vehicle" style="width:100%!important;">
                                <option value=""> Seleccione un vehículo </option>
                                <ng-container *ngFor="let vehicle of vehicles">
                                        <option *ngIf="vehicle.type === 'camion'" [value]="vehicle._id"> {{ vehicle.plate + ' (Camión)' }}</option>
                                        <option *ngIf="vehicle.type === 'camionG'" [value]="vehicle._id"> {{ vehicle.plate + ' (Camión Gondola)' }}</option>
                                        <option *ngIf="vehicle.type === 'vehiculo'" [value]="vehicle._id"> {{ vehicle.plate + ' (Vehículo)' }}</option>
                                        <option *ngIf="vehicle.type === 'riego'" [value]="vehicle._id"> {{ vehicle.plate + ' (Camión para riego)' }}</option>
                                        <option *ngIf="vehicle.type === 'stock'" [value]="vehicle._id"> {{ vehicle.plate + ' (Excavadora)' }}</option>
                                    </ng-container>
                            </select>
                    </div>
                    <!-- /.form-group -->
                    <div class="row">
                        <!-- .form-group -->
                        <div class="form-group col-6">
                            <div class="form-group">
                                <label for="codeG">Código del Cupón</label>
                                <input #codeG formControlName="code" type="text" class="form-control" name="codeG">
                            </div>
                        </div>
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group col-6">
                            <label class="control-label" for="flatpickr">Fecha del Cúpon</label> <input #dateG name="dateG" id="flatpickr" type="text" class="form-control" required>
                        </div>
                        <!-- /.form-group -->
                    </div>
                    <div class="row">
                        <!-- .form-group -->
                        <div class="form-group col-6">
                            <label for="gallons">Galones</label>
                            <!-- .input-group -->
                            <div class="input-group">
                                <label class="input-group-prepend" for="gallons"><span class="badge"></span></label> <input formControlName="gallons" name="gallons" type="number" step="0.01" min="0" class="form-control" id="gallons
                                   " placeholder="Ingrese una cantidad" required>
                            </div>
                            <!-- /.input-group -->
                        </div>
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group col-6">
                            <label for="pi9">Total</label>
                            <!-- .input-group -->
                            <div class="input-group">
                                <label class="input-group-prepend" for="total"><span class="badge">Q</span></label> <input formControlName="total" name="total" type="number" step="0.01" min="0" class="form-control" id="total">
                            </div>
                            <!-- /.input-group -->
                        </div>
                        <!-- /.form-group -->
                    </div>
                </div>
                <!-- /.modal-body -->
                <!-- .modal-footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Guardar</button> <button #closeMG type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
                </div>
                <!-- /.modal-footer -->
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modalGASOLINE -->