<!-- .modalMATERIAL -->
<div class="modal fade" id="addMaterial" tabindex="-1" role="dialog" aria-labelledby="NewMaterialModalLabel"
  aria-hidden="true">
  <!-- .modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- .modal-content -->
    <div class="modal-content">
      <!-- .modal-header -->
      <div class="modal-header">
        <h5 class="modal-title"> Crear un nuevo material </h5>
      </div>
      <!-- /.modal-header -->
      <!-- .modal-body -->
      <div class="modal-body">
        <form ngNativeValidate [formGroup]="formMat" (ngSubmit)="crearMaterial()">
          <!-- .form-group -->
          <div class="form-group">
            <label for="code">Código </label> <input formControlName="code" name="code" type="text" class="form-control"
              id="code" placeholder="Ingrese el código del material" data-autofocus="true">
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group">
            <label for="name">Nombre </label> <input formControlName="name" name="name" type="text" class="form-control"
              id="name" placeholder="Ingrese el nombre del material">
          </div>
          <!-- /.form-group -->
          <hr>
          <!-- .switcher-control -->
          <label for="material">Material para el CD La Viña</label><br>
          <label class="switcher-control switcher-control-lg"><input formControlName="isCD" type="checkbox"
              class="switcher-input" checked> <span class="switcher-indicator"></span> <span
              class="switcher-label-on">SI</span> <span class="switcher-label-off">NO</span></label>
          <!-- /.switcher-control -->
          <ng-container *ngIf="formMat.get('isCD').value">
            <!-- .form-group -->
            <div class="form-group mt-3">
              <label for="minStock">Existencia Mínima</label>
              <div class="input-group">
                <label class="input-group-prepend" for="minStock"><span class="badge">u</span></label>
                <input formControlName="minStock" name="minStock" type="number" min="0.00" step="0.01"
                  class="form-control" id="minStock" placeholder="Ingrese la existencia mínima del material">
              </div>
            </div>
            <!-- /.form-group -->
            <!-- form-row -->
            <div class="form-row">
              <!-- .form-group -->
              <div class="form-group col-6">
                <label for="price">Costo de compra</label>
                <div class="input-group">
                  <label class="input-group-prepend" for="cost"><span class="badge">Q</span></label>
                  <input formControlName="cost" name="cost" type="number" min="0.00" step="0.01" class="form-control"
                    id="cost" placeholder="Ingrese el costo de compra del material">
                </div>
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-6">
                <label for="price">Precio de venta</label>
                <div class="input-group">
                  <label class="input-group-prepend" for="price"><span class="badge">Q</span></label>
                  <input formControlName="price" name="price" type="number" min="0.00" step="0.01" class="form-control"
                    id="price" placeholder="Ingrese el precio de venta del material">
                </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /form-row -->
          </ng-container>
          <!-- .modal-footer -->
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Guardar</button> <button #closeMMt type="button"
              class="btn btn-light" data-dismiss="modal">Cerrar</button>
          </div>
          <!-- /.modal-footer -->
        </form>
      </div>
      <!-- /.modal-body -->
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modalMATERIAL -->
