<header class="page-title-bar">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active">
                <a href="#" [routerLink]="[ '/dashboard']"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Inicio</a>
            </li>
        </ol>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Home</a>
            </li>
            <li class="breadcrumb-item">
                <a href="#">Library</a>
            </li>
            <li class="breadcrumb-item active">Data </li>
        </ol>
    </nav>
    <h1 class="page-title"> {{ label }} </h1>
</header>
<!-- /.page-title-bar -->