<div class="row">
  <div class="col-xl-4 col-md-4 col-sm-12">
    <header class="page-navs bg-light shadow-sm">
      <!-- .input-group -->
      <div class="input-group has-clearable">
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i
              class="fa fa-times-circle"></i></span></button>
        <label class="input-group-prepend" for="searchReports"><span class="input-group-text"><span
              class="oi oi-magnifying-glass"></span></span></label>
        <input type="text" class="form-control" id="searchReports" data-filter=".board .list-group-item"
          placeholder="Buscar reportes...">
      </div>
      <!-- /.input-group -->
    </header>
    <!-- board -->
    <div #scroll class="board p-0 perfect-scrollbar">
      <!-- .list-group -->
      <div class="list-group list-group-flush list-group-divider border-top" data-toggle="radiolist">
        <ng-container *ngFor="let report of whiteTrips">
          <!-- .list-group-item -->
          <div (click)="cargarModal(report);" class="list-group-item pointer" data-toggle="modal"
            data-target="#addQuantity">
            <!-- .list-group-item-figure -->
            <div class="list-group-item-figure">
              <div class="tile tile-img mr-2">
                <span><i class="fas fa-file-invoice"></i></span>
              </div>
            </div>
            <!-- /.list-group-item-figure -->
            <!-- .list-group-item-body -->
            <div class="list-group-item-body">
              <h4 class="list-group-item-title"> {{ report.noTicket }}
                <span
                  class="badge badge-subtle badge-info float-right">{{ datatableS.fromJsonDate(report.date) }}</span>
              </h4>
              <p class="list-group-item-text">Pedido: {{ report._pull._order.order }} </p>
              <p class="list-group-item-text"> {{ report._pull._material.name }} </p>
              <p class="list-group-item-text"><b>{{report.mts }}m</b></p>
            </div>
            <!-- /.list-group-item-body -->
          </div>
          <!-- /.list-group-item -->
        </ng-container>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /board -->
  </div>
  <div class="col-xl-8 col-md-8 col-sm-12">
    <header class="page-title-bar">
      <!-- title and toolbar -->
      <div class="d-md-flex align-items-md-start">
        <p class="text-muted"> Aquí puede crear una nueva compra </p>
        <button [routerLink]="['/cd/tobepaids']" routerLinkActive="router-link-active" type="button"
          class="btn btn-info ml-auto mr-2"><i class="fas fa-hand-holding-usd mr-2"></i> Compras al crédito</button>
        <button [routerLink]="['/cd/storage']" routerLinkActive="router-link-active" type="button"
          class="btn btn-success mr-2"><i class="fas fa-mountain mr-2"></i> Inventario</button>
      </div>
      <!-- /title and toolbar -->
    </header>
    <!-- .nav-scroller -->
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-body -->
      <!-- .form -->
      <form ngNativeValidate (ngSubmit)="crearCompra()">
        <div class="card-body">
          <!-- .fieldset -->
          <fieldset>
            <legend>Encabezado de compra</legend>
            <div class="row">
              <!-- .form-group -->
              <div class="form-group col-3">
                <label class="control-label" for="date">Fecha <span
                    class="badge badge-danger">Obligatorio</span></label> <input #date name="date" id="flatpickr"
                  type="text" class="form-control" required>
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-4">
                <label id="order">No. de orden <span class="badge badge-danger">Obligatorio</span></label>
                <select #selectO class="form-control select2" style="width:100%!important;">
                  <option value=""> Seleccione una orden </option>
                  <option *ngFor="let order of orders" [value]="order._id">
                    {{ order.order }}-{{ datatableS.fromJsonDate(order.date) }}</option>
                </select>
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-4">
                <label id="payment">Forma de pago <span class="badge badge-danger">Obligatorio</span></label>
                <select [(ngModel)]="purchaseCD.payment" name="payment" class="custom-select">
                  <option value="true" selected> Crédito </option>
                  <option value="false"> Contado </option>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="row">
              <!-- .form-group -->
              <div class="form-group col-4">
                <label for="noBill">No. de factura<span class="badge badge-danger">Obligatorio</span></label> <input
                  [(ngModel)]="purchaseCD.noBill" name="noBill" type="text" class="form-control" id="noBill"
                  placeholder="Ingrese el número de factura" required>
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-4">
                <label for="serie">Serie <span class="badge badge-danger">Obligatorio</span></label> <input
                  [(ngModel)]="purchaseCD.serie" name="serie" type="text" class="form-control" id="serie"
                  placeholder="Ingrese la serie" required>
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-4">
                <label for="sap">SAP <span class="badge badge-danger">Obligatorio</span></label> <input
                  [(ngModel)]="purchaseCD.sap" name="sap" type="text" class="form-control" id="sap"
                  placeholder="Ingrese el número SAP" required>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="card mt-2">
              <!-- .card-body -->
              <div class="card-body">
                <h2 class="card-title"> Detalle de compra </h2>
                <!-- .table-responsive -->
                <div class="table-responsive">
                  <table id="table1" class="table table-hover" style="min-width: 678px">
                    <thead>
                      <tr>
                        <th> Material </th>
                        <th> Cantidad </th>
                        <th> Precio </th>
                        <th> Subtotal </th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="purchaseCD.details.length === 0">
                        <td>
                          <div class="alert alert-info has-icon" role="alert">
                            <div class="alert-icon">
                              <span class="fa fa-bullhorn"></span>
                            </div>Seleccione un <b>reporte</b> para agregarlo al <b>detalle</b> de compra.
                          </div>
                        </td>
                        <td class="align-middle"> - </td>
                        <td class="align-middle"> - </td>
                        <td class="align-middle"> - </td>
                        <td> </td>
                      </tr>
                      <tr *ngFor="let det of purchaseCD.details">
                        <td class="align-middle">
                          {{ det._whiteTrip.noTicket }}-{{ det._whiteTrip._pull._material.name }}
                        </td>
                        <td class="align-middle"> {{ det._whiteTrip.mts  | number : '1.2-2' }} </td>
                        <td class="align-middle">Q {{ det.cost | number : '1.2-2' }} </td>
                        <td class="align-middle">Q {{ det._whiteTrip.mts * det.cost | number : '1.2-2' }} </td>
                        <td class="align-middle text-right">
                          <button (click)='quitarDetalle( det )' type="button"
                            class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span
                              class="sr-only">Remove</span></button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- .card-body -->
            <div class="row">
              <!-- .col -->
              <div class="col-3 ml-auto">
                <!-- .metric -->
                <div class="metric">
                  <p class="metric-label"> Total </p>
                  <h5 class="metric-value">Q {{purchaseCD.total | number : '1.2-2'}}</h5>
                </div>
                <!-- .metric -->
              </div>
              <!-- /.col -->
            </div>
            <hr>
            <!-- /.d-flex -->
            <button class="btn btn-primary" type="submit" id="btnUser">Guardar compra</button>
            <button [routerLink]="[ '/tobepaids' ]" type="button" class="btn btn-light"
              data-dismiss="modal">Cancelar</button>
          </fieldset>
          <!-- /.fieldset -->
          <ng-template #customLoadingTemplate>
          </ng-template>
          <!-- /.table -->
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
          </ngx-loading>
        </div>
        <!-- /.card-body -->
      </form>
      <!-- /.form -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- .modal -->
<form ngNativeValidate>
  <div class="modal fade" id="addQuantity" tabindex="-1" role="dialog" aria-labelledby="AgregarDetalle"
    aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog modal-dialog-centered" role="document">
      <!-- .modal-content -->
      <div class="modal-content">
        <!-- .modal-header -->
        <div class="modal-header">
          <h6 class="modal-title"><i class="fas fa-plus-circle" style="margin-right: 5px;"></i>
            {{ detail._whiteTrip.noTicket}}</h6>
        </div>
        <!-- /.modal-header -->
        <!-- .modal-body -->
        <div class="modal-body">
          <div class="row">
            <!-- .form-group -->
            <div class="form-group offset-3 col-6">
              <label for="pi9">Costo</label>
              <!-- .input-group -->
              <div class="input-group">
                <label class="input-group-prepend" for="cost"><span class="badge">Q</span></label> <input
                  [(ngModel)]="detail.cost" name="cost" type="number" step="0.01" min="0" class="form-control" id="cost"
                  placeholder="0.00" required autofocus>
              </div>
              <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
          </div>
        </div>
        <!-- /.modal-body -->
        <!-- .modal-footer -->
        <div class="modal-footer">
          <button (click)="agregarDetalle()" type="submit" class="btn btn-primary">Agregar</button> <button #closeQ
            type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
        </div>
        <!-- /.modal-footer -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</form>
<!-- /.modal -->
