<div class="row">
    <div class="col-xl-4">
        <!-- .card -->
        <div class="card card-fluid">
            <!-- .card-body -->
            <div class="card-body">
                <h4 class="card-title"> Crear nuevo </h4>
                <h6 class="card-subtitle mb-4"> Aqui puedes crear un nuevo tipo de mantenimiento. </h6>
                <!-- form -->
                <form>
                    <!-- .row -->
                    <div class="row mb-3">
                        <label for="name" class="col-lg-3 text-lg-right">Nombre <span class="badge badge-danger">Obligatorio</span></label>
                        <div class="col-lg-12 col-xl-12">
                            <input type="text" id="name" name="name" class="form-control" placeholder="Ingrese un nombre" required>
                        </div>
                    </div>
                    <!-- /.row -->
                    <button class="btn btn-primary " type="submit " id="btnPart"><i class="fa fa-save "></i> Guardar</button>
                </form>
                <!-- /form -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-xl-8">
        <!-- .card -->
        <div class="card card-fluid">
            <!-- .card-body -->
            <div class="card-body">
                <h4 class="card-title"> Tipos disponibles </h4>
                <h6 class="card-subtitle mb-4"> Aquí puedes consultar los tipos de mantenimientos disponibles. </h6>
                <div class="card card-fluid">
                    <!-- .table-responsive -->
                    <div class="table-responsive">
                        <!-- .table -->
                        <table class="table table-hover">
                            <!-- thead -->
                            <thead class="thead-light">
                                <tr>
                                    <th style="min-width:200px"> Product </th>
                                    <th> Variants </th>
                                    <th> Prices </th>
                                </tr>
                            </thead>
                            <!-- /thead -->
                            <!-- tbody -->
                            <tbody>
                                <!-- tr -->
                                <tr>
                                    <td> Wine - Chateau Bonnet </td>
                                    <td> 113 </td>
                                    <td> $22.38 </td>
                                </tr>
                                <!-- /tr -->
                                <!-- tr -->
                                <tr>
                                    <td> Cookie - Oatmeal </td>
                                    <td> 216 </td>
                                    <td> $21.90 </td>
                                </tr>
                                <!-- /tr -->
                                <!-- tr -->
                                <tr>
                                    <td> True - Vue Containers </td>
                                    <td> 191 </td>
                                    <td> $24.96 </td>
                                </tr>
                                <!-- /tr -->
                                <!-- tr -->
                                <tr>
                                    <td> Nut - Pumpkin Seeds </td>
                                    <td> 329 </td>
                                    <td> $32.21 </td>
                                </tr>
                                <!-- /tr -->
                                <!-- tr -->
                                <tr>
                                    <td> Artichoke - Bottom, Canned </td>
                                    <td> 375 </td>
                                    <td> $27.75 </td>
                                </tr>
                                <!-- /tr -->
                            </tbody>
                            <!-- /tbody -->
                        </table>
                        <!-- /.table -->
                    </div>
                    <!-- /.table-responsive -->
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>