<!-- .page-section -->
<div class="page-section">
  <!-- .card-deck-xl -->
  <div class="card-deck-xl">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header"> Generar reporte </div>
      <!-- .card-body -->
      <div class="card-body">
        <p class="text-muted"> Seleccione el destino y el rango de fechas para generar el reporte </p>
        <!-- grid row -->
        <div class="row">
          <!-- .form-group -->
          <div class="form-group col-6">
            <label id="typeL">Destino</label>
            <select #selectD name="destination" class="form-control select2" style="width:100%!important;">
              <option value=""> Seleccione un destino </option>
              <option *ngFor="let destination of destinations" [value]="destination._id">
                {{ destination.name + ' KM: ' + destination.km }} </option>
            </select>
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group col-3">
            <label id="typeL">Fecha inicial</label>
            <input #date1 id="flatpickr" name="date1" type="text" class="form-control" required>
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group col-3">
            <label id="typeL">Fecha final</label>
            <input #date2 id="flatpickr" name="date2" type="text" class="form-control" required>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /grid row -->
        <button (click)="generarPreDetalle()" type="submit" class="btn btn-success"><i class="fas fa-search"></i>
          Consultar</button>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header"> Crear pre-factura </div>
      <!-- .card-body -->
      <div class="card-body">
        <p class="text-muted"> Seleccione el cliente y la fecha para continuar </p>
        <form ngNativeValidate>
          <!-- grid row -->
          <div class="row">
            <!-- .form-group -->
            <div class="form-group col-6">
              <label id="typeL">Cliente <span class="badge badge-danger">Obligatorio</span></label> <select #selectC
                name="customer" class="form-control select2" style="width:100%!important;">
                <option value=""> Seleccione un cliente </option>
                <option *ngFor="let customer of cpcustomers" [value]="customer._id"> {{ customer.name }} </option>
              </select>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group col-4">
              <label class="control-label" for="flatpickr">Fecha <span
                  class="badge badge-danger">Obligatorio</span></label> <input id="flatpickr" name="date" type="text"
                class="form-control" required>
            </div>
            <!-- /.form-group -->
            <button (click)="crearFacturaLineas()" type="submit" class="btn btn-primary"
              style="margin-top: 28px; margin-left: 10px;"><i class="fas fa-save"></i> Guardar</button>
          </div>
          <!-- /grid row -->
        </form>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <div class="card-deck-xl">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-body -->
      <div class="card-body">
        <!-- .form-group -->
        <div class="form-group">
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div>
            <!-- /.btn-toolbar -->
            <!-- .input-group -->
            <div class="input-group has-clearable">
              <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i
                    class="fa fa-times-circle"></i></span></button>
              <div class="input-group-prepend">
                <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
              </div><input id="table-search" type="text" class="form-control" placeholder="Buscar...">
            </div>
            <!-- /.input-group -->
            <!-- .input-group-prepend -->
            <div class="input-group-prepend">
              <select id="filterBy" class="custom-select">
                <option value='' selected> Filtros </option>
                <option value="0"> Fecha </option>
                <option value="1"> Documento </option>
                <option value="2"> Entrega </option>
                <option value="3"> Placa </option>
                <option value="4"> Piloto </option>
                <option value="5"> Planta Origen </option>
                <option value="6"> Destino </option>
                <option value="7"> Cant. </option>
                <option value="8"> Ton. </option>
                <option value="9"> Tarifa </option>
                <option value="10"> Material </option>
                <option value="11"> Total </option>
                <option value="12"> Factura </option>
                <option value="13"> Transporte ID </option>
                <option value="14"> Peso Bruto </option>
                <option value="15"> Peso Tara </option>
                <option value="16"> Peso Neto </option>
                <option value="17"> Peso Metros </option>
              </select>
            </div>
            <!-- /.input-group-prepend -->
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
        <!-- .table -->
        <table id="myTable" class="table">
          <thead>
            <tr>
              <th> FECHA </th>
              <th> DOCUMENTO </th>
              <th> ENTREGA </th>
              <th> PLACA </th>
              <th> PILOTO </th>
              <th> PLANTA ORIGEN </th>
              <th> DESTINO </th>
              <th> CANT. </th>
              <th> TON </th>
              <th> TARIFA </th>
              <th> MATERIAL </th>
              <th> TOTAL </th>
              <th> FACTURA </th>
              <th> TRANSPORTE ID </th>
              <th> PESO BRUTO </th>
              <th> PESO TARA </th>
              <th> PESO NETO </th>
              <th> METROS </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let detailBill of detailBills">
              <tr>
                <td colspan="4">
                  <h6>
                    {{ detailBill.nameMat }}
                  </h6>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let detail of detailBill.details">
                <td>{{ detail.date | date: 'dd/MM/yyyy' }}</td>
                <td>{{ detail.noTicket }}</td>
                <td>{{ detail.noDelivery }}</td>
                <td>{{ detail.plate }}</td>
                <td>{{ detail.employee }}</td>
                <td> PLANTA XELA </td>
                <td>{{ detail.destination }}</td>
                <td *ngIf="formaDeCobro === 'KG'"> {{ detail.kgN }} </td>
                <td *ngIf="formaDeCobro === 'KG'"> {{ detail.kgN / 1000 | number: '1.3-6' }} </td>
                <td *ngIf="formaDeCobro === 'MTS'"> {{ detail.mts }} </td>
                <td *ngIf="formaDeCobro === 'MTS'"> - </td>
                <td>{{ detail.tariff }}</td>
                <td>{{ detail.material }}</td>
                <td *ngIf="formaDeCobro === 'KG'">{{ (detail.kgN * detail.tariff) | number: '1.3-6' }}</td>
                <td *ngIf="formaDeCobro === 'MTS'">{{ (detail.mts * detail.tariff) | number: '1.3-6' }}</td>
                <td>0</td>
                <td> </td>
                <td>{{ detail.kgB }}</td>
                <td>{{ detail.kgT }}</td>
                <td>{{ detail.kgN }}</td>
                <td>{{ detail.mts }}</td>
              </tr>
              <tr>
                <td colspan="2">
                  <h6>
                    NO. BOLETAS
                  </h6>
                </td>
                <td>
                  <h6>
                    {{ detailBill.noTrips }}
                  </h6>
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <th> FECHA </th>
              <th> DOCUMENTO </th>
              <th> ENTREGA </th>
              <th> PLACA </th>
              <th> PILOTO </th>
              <th> PLANTA ORIGEN </th>
              <th> DESTINO </th>
              <th> CANT. </th>
              <th> TON </th>
              <th> TARIFA </th>
              <th> MATERIAL </th>
              <th> TOTAL </th>
              <th> FACTURA </th>
              <th> TRANSPORTE ID </th>
              <th> PESO BRUTO </th>
              <th> PESO TARA </th>
              <th> PESO NETO </th>
              <th> METROS </th>
            </tr>
          </tfoot>
        </table>
        <!-- /.table -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.card-deck-xl -->
  <ng-template #customLoadingTemplate></ng-template>
  <ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="customLoadingTemplate ">
  </ngx-loading>
</div>
<!-- /.page-section -->
