<!-- .auth -->
<main class="auth">
    <header id="auth-header" class="auth-header" style="background-image: url(assets/images/illustration/img-1.png);">
        <h1>
            <img class="bordes" src="assets/images/logo-min.png" alt="" height="92"> <span class="sr-only">Iniciar Sesión</span>
        </h1>
    </header>
    <!-- form -->
    <form ngNativeValidate #f="ngForm" class="auth-form" (ngSubmit)="ingresar( f )">
        <!-- .form-group -->
        <div class="form-group">
            <div class="form-label-group">
                <input [ngModel]="email" name="email" type="email" id="inputUser" class="form-control" placeholder="Email" autofocus="" required> <label for="inputUser">Email</label>
            </div>
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
            <div class="form-label-group">
                <input ngModel name="password" type="password" id="inputPassword" class="form-control" placeholder="Contraseña" required> <label for="inputPassword">Contraseña</label>
            </div>
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group text-center">
            <div class="custom-control custom-control-inline custom-checkbox">
                <input [(ngModel)]="recuerdame" name="recuerdame" type="checkbox" class="custom-control-input" id="remember-me"> <label class="custom-control-label" for="remember-me">Recuérdame</label>
            </div>
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        </div>
        <!-- /.form-group -->
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </form>
    <!-- /.auth-form -->
    <!-- copyright -->
    <footer class="auth-footer">
        <strong>Copyright &copy; 2019 - {{ CurYear }} APPLITECH SOFTWARE SOLUTIONS.
            </strong> Todos Los Derechos Reservados.
    </footer>
</main>
<!-- /.auth -->