<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" [routerLink]="[ '/ktrip', 'new']"><span class="fa fa-plus"></span></button>
<!-- /floating action -->
<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-header -->
        <div class="card-header d-flex">
            <!-- .form-group -->
            <div class="form-group offset-3 col-2">
                <input #date1 id="flatpickr" name="date1" type="text" class="form-control" required>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group col-2">
                <input #date2 id="flatpickr" name="date2" type="text" class="form-control" required>
            </div>
            <!-- /.form-group -->
            <button type="button" (click)="buscarReporteCisterna()" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
        </div>
        <!-- /.card-header -->
        <br>
        <!-- .card-body -->
        <div class="card-body">
            <!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div>
            <!-- /.btn-toolbar -->
            <!-- .form-group -->
            <div class="form-group">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
                    <!-- .input-group -->
                    <div class="input-group has-clearable">
                        <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                        </div><input id="table-search" type="text" class="form-control" placeholder="Buscar aquí">
                    </div>
                    <!-- /.input-group -->
                    <!-- .input-group-prepend -->
                    <div class="input-group-prepend">
                        <select id="filterBy" class="custom-select">
                            <option value='' selected> Filtros </option>
                            <option value="0"> Vehículo </option>
                            <option value="1"> Empleado </option>
                            <option value="2"> Destino </option>
                            <option value="3"> Fecha </option>
                            <option value="4"> Horarios </option>
                            <option value="5"> Viajes </option>
                            <option value="6"> Tarifa </option>
                        </select>
                    </div>
                    <!-- /.input-group-prepend -->
                </div>
                <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
            <!-- .table -->
            <table id="myTable" class="table" #customLoadingTemplate>
                <!-- thead -->
                <thead>
                    <tr>
                        <th>Vehículo</th>
                        <th>Empleado</th>
                        <th>Destino</th>
                        <th>Fecha</th>
                        <th>Horarios</th>
                        <th>Viajes</th>
                        <th>Tarifa</th>
                        <th></th>
                    </tr>
                </thead>
                <!-- /thead -->
                <!-- tbody -->
                <tbody>
                    <!-- create empty row to passing html validator -->
                    <tr *ngFor="let tankTrip of tankTrips">
                        <td> {{ tankTrip._vehicle.plate }} {{ tankTrip._vehicle.type }} </td>
                        <td> {{ tankTrip._employee.name }} </td>
                        <td> {{ tankTrip._destination.name }} ({{ tankTrip._destination.km }}km) </td>
                        <td> {{ dtService.fromJsonDate(tankTrip.date) }} </td>
                        <td> {{ 'Entrada: ' + dtService.fromJsonHour(tankTrip.checkIN )}} <br> {{ 'Salida: ' + dtService.fromJsonHour(tankTrip.checkOUT) }} </td>
                        <td> {{ tankTrip.trips }} </td>
                        <td> {{ tankTrip.tariff }} </td>
                        <td class="align-middle text-right">
                            <a [routerLink]="[ '/ktrip', tankTrip._id ]" class="btn btn-sm btn-icon btn-secondary pointer" title="Editar"><i class="fas fa-edit"></i> <span class="sr-only ">Editar</span></a>
                            <a class="btn btn-sm btn-icon btn-secondary pointer" title="Eliminar" (click)="eliminarViajeCisterna( tankTrip )"><i class="far fa-trash-alt "></i> <span class="sr-only ">Eliminar</span></a>
                        </td>
                    </tr>
                </tbody>
                <!-- /tbody -->
            </table>
            <!-- /.table -->
            <ng-template #customLoadingTemplate>
            </ng-template>
            <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->