<!-- .page-section -->
<div class="page-section">
    <!-- form -->
    <form ngNativeValidate [formGroup]="formC" (ngSubmit)="crearViajeCisterna()">
        <!-- .card-deck-xl -->
        <div class="card-deck-xl">
            <!-- .card -->
            <div class="card card-fluid px-lg-4 py-lg-3">
                <!-- .card-body -->
                <div class="card-body">
                    <!-- .form-group -->
                    <div class="form-group form-row">
                        <!-- .col -->
                        <div class="col-md-3">
                            <!-- .form-group -->
                            <div class="form-group">
                                <label id="job">Empleado <span class="badge badge-danger">Obligatorio</span></label>
                                <select #selectE formControlName="employee" name="employee" class="form-control select2" style="width:100%!important;">
                                        <option value=""> Seleccione un empleado </option>
                                        <option *ngFor="let empleado of employees" [selected]="empleado._id === tempEmp"
                                        [value]="empleado._id"> {{ empleado.name }} </option>
                                    </select>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <!-- .col -->
                        <div class="col-md-3">
                            <!-- .form-group -->
                            <div class="form-group">
                                <label id="job">Vehículo <span class="badge badge-danger">Obligatorio</span></label>
                                <select #selectV formControlName="vehicle" name="vehicle" class="form-control select2" style="width:100%!important;">
                                        <option value=""> Seleccione un vehículo </option>
                                        <ng-container *ngFor="let vehicle of vehicles">
                                            <option *ngIf="vehicle.type === 'riego'" [selected]="vehicle._id === tempVehicle" [value]="vehicle._id"> {{ vehicle.plate + ' (Riego)' }}</option>
                                        </ng-container>
                                    </select>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <!-- .col -->
                        <div class="col-md-3">
                            <!-- .form-group -->
                            <div class="form-group">
                                <label id="job">Destino <span class="badge badge-danger">Obligatorio</span></label>
                                <select #selectD formControlName="destination" name="destination" class="form-control select2" style="width:100%!important;">
                                        <option value=""> Seleccione un destino </option>
                                        <option *ngFor="let destination of destinations" [selected]="destination._id === tempDest" [value]="destination._id"> {{ destination.name }} ({{ destination.km }}km) </option>
                                    </select>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.form-group -->
                    <hr>
                    <!-- .form-group -->
                    <div class="form-group form-row">
                        <!-- .col -->
                        <div class="col-md-3">
                            <!-- .form-group -->
                            <div class="form-group">
                                <label class="control-label" for="flatpickr">Fecha <span class="badge badge-danger">Obligatorio</span></label> <input #date id="flatpickr" formControlName="date" name="date" type="text" class="form-control">
                            </div>
                            <!-- /.form-group -->
                            <!-- .form-group -->
                            <div class="form-group">
                                <label for="pay">Tarifa <span class="badge badge-danger">Obligatorio</span></label>
                                <div class="input-group">
                                    <label class="input-group-prepend" for="pi9"><span class="badge"><i class="fas fa-dollar-sign"></i></span></label>
                                    <input formControlName="tariff" name="tariff" type="number" min="0" step="0.01" class="form-control" id="trips" placeholder="Ingrese la tarifa de cobro" required>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <!-- .col -->
                        <div class="col-md-3">
                            <!-- .form-group -->
                            <div class="form-group">
                                <label class="control-label" for="flatpickr08"> Hora de entrada </label> <input #checkIN id="flatpickr08" formControlName="checkIN" name="checkIN" type="text" class="form-control" data-toggle="flatpickr" data-enable-time="true"
                                    data-no-calendar="true" data-date-format="H:i" data-default-date="12:00">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <!-- .col -->
                        <div class="col-md-3">
                            <!-- .form-group -->
                            <div class="form-group">
                                <label class="control-label" for="flatpickr08"> Hora de salida </label> <input #checkOUT id="flatpickr08" formControlName="checkOUT" name="checkOUT" type="text" class="form-control" data-toggle="flatpickr" data-enable-time="true"
                                    data-no-calendar="true" data-date-format="H:i" data-default-date="12:00">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                        <!-- .col -->
                        <div class="col-md-3">
                            <!-- .form-group -->
                            <div class="form-group">
                                <label for="pay">Viajes <span class="badge badge-danger">Obligatorio</span></label>
                                <div class="input-group">
                                    <label class="input-group-prepend" for="pi9"><span class="badge"><i class="fas fa-snowplow"></i></span></label>
                                    <input formControlName="trips" name="trips" type="number" min="0" step="1" class="form-control" id="trips" placeholder="Ingrese el total de viajes" required>
                                </div>
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.form-group -->
                    <hr>
                    <!-- .form-group -->
                    <div class="form-group form-row">
                        <button class="btn btn-primary pull-right" type="submit" id="btnMech" data-toggle="modal" data-target="#modalNewTask"><i class="fa fa-save"></i> Guardar</button>
                        <button [routerLink]="[ '/ktrips' ]" type="button" class="btn btn-light pull-right" data-dismiss="modal">Cancelar</button>
                    </div>
                    <!-- /.form-group -->
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.card-deck-xl -->
        <ng-template #customLoadingTemplate>
        </ng-template>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
        </ngx-loading>
    </form>
    <!-- /.form -->

</div>
<!-- /.page-section -->