<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <!-- .table -->
            <table id="dt-responsive" class="table dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th> Name </th>
                        <th> Position </th>
                        <th> Office </th>
                        <th> Extn. </th>
                        <th> Start date </th>
                        <th> Salary </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfsdfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                    <tr>
                        <td>abcd</td>
                        <td>qwer</td>
                        <td>hgfdh</td>
                        <td>rytyer</td>
                        <td>123545</td>
                        <td>9458</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th> Name </th>
                        <th> Position </th>
                        <th> Office </th>
                        <th> Extn. </th>
                        <th> Start date </th>
                        <th> Salary </th>
                    </tr>
                </tfoot>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->