<!-- .page-section -->
<div class="page-section">
    <!-- .section-deck -->
    <div class="section-deck">
        <!-- .card -->
        <div id="labels" class="card card-fluid col-8">
            <!-- .card-body -->
            <div class="card-body">
                <!-- .form -->
                <form ngNativeValidate [formGroup]="forma" (ngSubmit)="crearVehiculo()">
                    <!-- .fieldset -->
                    <fieldset>
                        <legend>Imformación principal del Vehículo</legend>
                        <!-- .form-group -->
                        <div class="form-group">
                            <label for="cp">Código Cementos Progreso  <span class="badge badge-danger">Obligatorio</span></label> <input formControlName="cp" name="cp" type="text" class="form-control" id="cp" placeholder="Ingrese el código que Cementos P. le asignó al Vehículo"
                                required>
                        </div>
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group">
                            <label id="typeL">Tipo de Vehículo <span class="badge badge-danger">Obligatorio</span></label> <select formControlName="type" name="type" class="form-control custom-select" id="type" style="width:100%!important;">
                                    <option value=""> Seleccione un tipo </option>
                                   <option *ngFor="let type of types" [value]="type.type"> {{ type.text }}
                                   </option>
                               </select>
                        </div>
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group">
                            <label for="plate">No. de placa  <span class="badge badge-danger">Obligatorio</span></label> <input formControlName="plate" name="plate" type="text" class="form-control" id="plate" placeholder="Ingrese el número de placa" required>
                        </div>
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group">
                            <button type="button" class="btn btn-subtle-dark col-3 fa-pull-right" data-toggle="modal" data-target="#exampleModalCenter">Crear Nueva <i class="fas fa-external-link-alt fa-pull-right"></i></button>
                            <label id="makeL">Marca <span class="badge badge-danger">Obligatorio</span></label> <select formControlName="make" name="make" class="form-control select2" id="make" style="width:100%!important;">
                                    <option value=""> Seleccione una marca </option>
                                    <option *ngFor="let make of makes" [selected]="make._id === tempMake" [value]="make._id"> {{ make.name }}
                                    </option>
                                </select>
                        </div>
                        <!-- /.form-group -->
                        <div class="row">
                            <!-- .form-group -->
                            <div class="form-group col-6">
                                <label for="no">No. de vehículo </label> <input formControlName="no" name="no" type="number" class="form-control" id="no" placeholder="Ingrese el número de vehículo">
                            </div>
                            <!-- /.form-group -->
                            <!-- .form-group -->
                            <div class="form-group col-6">
                                <label for="model">Modelo </label> <input formControlName="model" name="model" type="number" class="form-control" id="model" placeholder="Ingrese el año al que pertenece el modelo">
                            </div>
                            <!-- /.form-group -->
                        </div>
                        <div class="row">
                            <!-- .form-group -->
                            <div class="form-group col-6">
                                <label for="km">km's </label> <input formControlName="km" name="km" type="number" step="0.01" class="form-control" id="km" placeholder="Ingrese el kilometraje del vehículo">
                            </div>
                            <!-- /.form-group -->
                            <!-- .form-group -->
                            <div class="form-group col-6">
                                <label for="mts">mt's </label> <input formControlName="mts" name="mts" type="number" step="0.01" class="form-control" id="mts" placeholder="Ingrese los metros de capacidad">
                            </div>
                            <!-- /.form-group -->
                        </div>
                    </fieldset>
                    <!-- /.fieldset -->
                    <button class="btn btn-primary" type="submit" id="btnUser"><i class="fa fa-save"></i> Guardar</button>
                </form>
                <!-- /.form -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.section-deck -->
</div>
<!-- /.page-inner -->
<!-- Normal modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!-- .modal-content -->
        <div class="modal-content">
            <!-- .modal-header -->
            <div class="modal-header">
                <h5 id="exampleModalCenterLabel" class="modal-title"> Nueva Marca </h5>
            </div>
            <!-- /.modal-header -->
            <!-- .modal-body -->
            <div class="modal-body">
                <!-- .form -->
                <form ngNativeValidate [formGroup]="formaMarca" (ngSubmit)="crearMarca()">
                    <!-- .fieldset -->
                    <fieldset>
                        <!-- .form-group -->
                        <div class="form-group">
                            <label for="name">Nombre <span class="badge badge-danger">Obligatorio</span></label> <input formControlName="name" name="name" type="text" class="form-control" id="name" placeholder="Ingrese la marca del vehículo" required>
                        </div>
                        <!-- /.form-group -->
                    </fieldset>
                    <!-- /.fieldset -->
                    <button type="button" type="submit" class="btn btn-primary">Guardar</button>
                </form>
                <!-- /.form -->
            </div>
            <!-- /.modal-body -->
            <!-- .modal-footer -->
            <div class="modal-footer">
                <button #close type="button" class="btn btn-light" data-dismiss="modal">Cerrar</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->