<!-- .app-aside -->
<aside class="app-aside app-aside-light">
    <!-- .aside-content -->
    <div class="aside-content">
        <!-- .aside-header -->
        <header class="aside-header">
            <!-- toggle menu -->
            <button class="hamburger hamburger-squeeze" type="button" data-toggle="aside" aria-label="Menu"><span class="hamburger-box"><span class="hamburger-inner"></span></span></button>
            <!-- /toggle menu -->
            <!-- .btn-account -->
            <button class="btn-account d-flex d-md-none" type="button" data-toggle="collapse" data-target="#dropdown-aside"><span class="user-avatar user-avatar-lg"><img [src]="usuario.img | imagen" alt=""></span> <span class="account-icon"><span class="fa fa-caret-down fa-lg"></span></span> <span class="account-summary"><span class="account-name">{{ usuario.name + ' ' + usuario.lastName }}</span> <span class="account-description">{{ role }}</span></span></button>
            <!-- /.btn-account -->
            <!-- .dropdown-aside -->
            <div id="dropdown-aside" class="dropdown-aside d-md-none collapse">
                <!-- dropdown-items -->
                <div class="pb-3">
                    <a class="dropdown-item" href="#" [routerLink]="[ '/profile']"><span class="dropdown-icon oi oi-person"></span> Perfil</a> <a class="dropdown-item" href="#" (click)="UserService.logout()"><span class="dropdown-icon oi oi-account-logout"></span> Cerrar Sesión</a>
                </div>
                <!-- /dropdown-items -->
            </div>
            <!-- /.dropdown-aside -->
            <!-- .top-bar-brand -->
            <div class="top-bar-brand bg-primary">
                <a href="#" [routerLink]="[ '/dashboard' ]"><img class="bordes" src="assets/images/logo-min.png" height="42px" alt=""></a>
            </div>
            <!-- /.top-bar-brand -->
        </header>
        <!-- /.aside-header -->
        <!-- .aside-menu -->
        <div class="aside-menu">
            <!-- .stacked-menu -->
            <nav id="stacked-menu" class="stacked-menu">
                <!-- .menu -->
                <ul class="menu">
                    <!-- .menu-item -->
                    <li class="menu-item" routerLinkActive="has-active">
                        <a routerLink="/dashboard" routerLinkActive="active" class="menu-link"><span class="menu-icon fas fa-home"></span><span class="menu-text">Dashboard</span></a>
                    </li>
                    <!-- /.menu-item -->
                    <!-- .menu-header -->
                    <li *ngIf="_sidebar.menuTransporte.length > 0" class="menu-header">Transportes </li>
                    <!-- /.menu-header -->
                    <!-- .menu-item -->
                    <li *ngFor="let menu of _sidebar.menuTransporte" class="menu-item has-child pointer" routerLinkActive="has-active">
                        <a class="menu-link"><span [class]="menu.icono"></span> <span class="menu-text">{{menu.titulo}}</span> <span class="badge badge-subtle badge-success">{{menu.submenu.length}}</span></a>
                        <!-- child menu -->
                        <ul class="menu">
                            <li *ngFor="let submenu of menu.submenu" class="menu-item" routerLinkActive="has-active">
                                <a [routerLink]="[submenu.url]" class="menu-link">{{submenu.titulo}}</a>
                            </li>
                        </ul>
                        <!-- /child menu -->
                    </li>
                    <!-- /.menu-item -->
                    <!-- .menu-header -->
                    <li *ngIf="_sidebar.menuTaller.length > 0" class="menu-header">Taller </li>
                    <!-- /.menu-header -->
                    <!-- .menu-item -->
                    <li *ngFor="let menu of _sidebar.menuTaller" class="menu-item has-child pointer" routerLinkActive="has-active">
                        <a class="menu-link"><span [class]="menu.icono"></span> <span class="menu-text">{{menu.titulo}}</span> <span class="badge badge-subtle badge-success">{{menu.submenu.length}}</span></a>
                        <!-- child menu -->
                        <ul class="menu">
                            <li *ngFor="let submenu of menu.submenu" class="menu-item" routerLinkActive="has-active">
                                <a [routerLink]="[submenu.url]" class="menu-link">{{submenu.titulo}}</a>
                            </li>
                        </ul>
                        <!-- /child menu -->
                    </li>
                    <!-- /.menu-item -->
                    <!-- .menu-header -->
                    <li *ngIf="_sidebar.menuDistribucion.length > 0" class="menu-header">Centro de Distribución </li>
                    <!-- /.menu-header -->
                    <!-- .menu-item -->
                    <li *ngFor="let menu of _sidebar.menuDistribucion" class="menu-item has-child pointer" routerLinkActive="has-active">
                        <a class="menu-link"><span [class]="menu.icono"></span> <span class="menu-text">{{menu.titulo}}</span> <span class="badge badge-subtle badge-success">{{menu.submenu.length}}</span></a>
                        <!-- child menu -->
                        <ul class="menu">
                            <li *ngFor="let submenu of menu.submenu" class="menu-item" routerLinkActive="has-active">
                                <a [routerLink]="[submenu.url]" class="menu-link">{{submenu.titulo}}</a>
                            </li>
                        </ul>
                        <!-- /child menu -->
                    </li>
                    <!-- /.menu-item -->
                    <!-- .menu-header -->
                    <li *ngIf="_sidebar.menuContabilidad.length > 0" class="menu-header">Contabilidad </li>
                    <!-- /.menu-header -->
                    <!-- .menu-item -->
                    <li *ngFor="let menu of _sidebar.menuContabilidad" class="menu-item has-child pointer" routerLinkActive="has-active">
                        <a class="menu-link"><span [class]="menu.icono"></span> <span class="menu-text">{{menu.titulo}}</span> <span class="badge badge-subtle badge-success">{{menu.submenu.length}}</span></a>
                        <!-- child menu -->
                        <ul class="menu">
                            <li *ngFor="let submenu of menu.submenu" class="menu-item" routerLinkActive="has-active">
                                <a [routerLink]="[submenu.url]" class="menu-link">{{submenu.titulo}}</a>
                            </li>
                        </ul>
                        <!-- /child menu -->
                    </li>
                    <!-- /.menu-item -->
                    <!-- .menu-header -->
                    <li *ngIf="_sidebar.menu.length > 0" class="menu-header">Administración </li>
                    <!-- /.menu-header -->
                    <!-- .menu-item -->
                    <li *ngFor="let menu of _sidebar.menu" class="menu-item has-child pointer" routerLinkActive="has-active">
                        <a class="menu-link"><span [class]="menu.icono"></span> <span class="menu-text">{{menu.titulo}}</span> <span class="badge badge-subtle badge-success">{{menu.submenu.length}}</span></a>
                        <!-- child menu -->
                        <ul class="menu">
                            <li *ngFor="let submenu of menu.submenu" class="menu-item" routerLinkActive="has-active">
                                <a [routerLink]="[submenu.url]" class="menu-link">{{submenu.titulo}}</a>
                            </li>
                        </ul>
                        <!-- /child menu -->
                    </li>
                    <!-- /.menu-item -->
                </ul>
                <!-- /.menu -->
            </nav>
            <!-- /.stacked-menu -->
        </div>
        <!-- /.aside-menu -->
        <!-- Skin changer -->
        <footer class="aside-footer border-top p-3">
            <button class="btn btn-light btn-block text-primary" data-toggle="skin">Tema oscuro <i class="fas fa-moon ml-1"></i></button>
        </footer>
        <!-- /Skin changer -->
    </div>
    <!-- /.aside-content -->
</aside>
<!-- /.app-aside -->