<!-- .page-section-->
<div class="row">
  <div class="col-xl-4 col-md-4 col-sm-12">
    <header class="page-navs bg-light shadow-sm">
      <!-- .input-group -->
      <div class="input-group has-clearable">
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true"><i class="fa fa-times-circle"></i></span>
        </button>
        <label class="input-group-prepend" for="searchClients"><span class="input-group-text"><span
              class="oi oi-magnifying-glass"></span></span></label>
        <input type="text" class="form-control" id="searchClients" data-filter=".board .list-group-item"
          placeholder="Buscar Materiales..." />
      </div>
      <!-- /.input-group -->
    </header>
    <button type="button" class="btn btn-primary btn-floated position-absolute" data-toggle="modal"
      data-target="#addMaterial" title="Agregar nuevo material">
      <i class="fa fa-plus"></i>
    </button>
    <!-- board -->
    <div #scroll class="board p-0 perfect-scrollbar">
      <!-- .list-group -->
      <div class="list-group list-group-flush list-group-divider border-top" data-toggle="radiolist">
        <ng-container *ngFor="let material of materials">
          <!-- .list-group-item -->
          <div class="list-group-item pointer" data-toggle="modal" data-target="#addDetail"
            (click)="cargarModal(material)">
            <!-- .list-group-item-figure -->
            <div class="list-group-item-figure">
              <div class="tile tile-img mr-2">
                <a data-toggle="modal" data-target="#addDetail" class="pointer"><i class="fas fa-cubes"></i></a>
              </div>
            </div>
            <!-- /.list-group-item-figure -->
            <!-- .list-group-item-body -->
            <div class="list-group-item-body">
              <h4 class="list-group-item-title">
                {{ material._material.name }}
                <span *ngIf="material.stock > material._material.minStock"
                  class="badge badge-subtle badge-success float-right">
                  {{ material.stock | number: '1.2-2' }}<strong>m </strong>
                </span>
                <span *ngIf="material.stock <= material._material.minStock"
                  class="badge badge-subtle badge-danger float-right">
                  {{ material.stock | number: '1.2-2' }}<strong>m </strong>
                </span>
              </h4>
              <p class="list-group-item-text">
                {{ material._material.code }}
              </p>
            </div>
            <!-- /.list-group-item-body -->
          </div>
          <!-- /.list-group-item -->
        </ng-container>
      </div>
      <!-- /.list-group -->
    </div>
    <!-- /board -->
  </div>
  <div class="col-xl-8 col-md-8 col-sm-12">
    <header class="page-title-bar">
      <!-- title and toolbar -->
      <div class="d-md-flex align-items-md-start">
        <h1 class="page-title mr-sm-auto">
          <i class="fas fa-shopping-cart text-muted mr-2"></i> Crear Venta
        </h1>
        <button [routerLink]="['/sales']" routerLinkActive="router-link-active" type="button"
          class="btn btn-info ml-auto mr-2">
          <i class="fas fa-history mr-2"></i> Ventas historial
        </button>
        <button [routerLink]="['/cd/storage']" routerLinkActive="router-link-active" type="button"
          class="btn btn-success mr-2">
          <i class="fas fa-mountain mr-2"></i> Inventario
        </button>
      </div>
      <!-- /title and toolbar -->
      <p class="text-muted">Aquí puede crear una nueva venta</p>
    </header>
    <!-- .nav-scroller -->
    <!-- .card -->
    <div id="labels" class="card card-fluid">
      <!-- .card-body -->
      <!-- .form -->
      <form ngNativeValidate [formGroup]="formVenta" (ngSubmit)="crearVenta()">
        <div class="card-body">
          <!-- .fieldset -->
          <fieldset>
            <legend>Encabezado de venta</legend>
            <div class="row">
              <!-- .form-group -->
              <div class="form-group col-3">
                <label class="control-label" for="date">Fecha
                  <span class="badge badge-danger">Obligatorio</span></label>
                <input *ngIf="userS.usuario.role === 'USER_ROLE'" #date name="date" id="flatpickr" type="text"
                  class="form-control" disabled required />
                <input *ngIf="userS.usuario.role === 'ADMIN_ROLE'" #date name="date" id="flatpickr" type="text"
                  class="form-control" required />
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-6">
                <label id="typeL">Cliente
                  <span class="badge badge-danger">Obligatorio</span></label>
                <select #selectC formControlName="customer" name="customer" class="form-control select2"
                  style="width: 100% !important;">
                  <option value=""> Seleccione un cliente </option>
                  <option *ngFor="let customer of customers" [value]="customer._id">
                    {{ customer.name }} {{ customer.nit }}</option>
                </select>
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-3">
                <label>Crear Cliente</label><br />
                <a type="button" class="btn btn-subtle-dark" data-toggle="modal" data-target="#addCustomer">
                  Nuevo <i class="fas fa-external-link-alt fa-pull-right"></i>
                </a>
              </div>
              <!-- /.form-group -->
            </div>
            <div class="row">
              <!-- .form-group -->
              <div class="form-group col-4">
                <label for="noBill">No. de factura </label>
                <input formControlName="noBill" name="noBill" type="text" class="form-control" id="noBill"
                  placeholder="Ingrese el número de factura" />
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-4">
                <label for="noDoc">No. de correlativo </label>
                <input formControlName="document" name="document" type="text" class="form-control" id="noDoc"
                  placeholder="Ingrese un número de cheque o doc." />
              </div>
              <!-- /.form-group -->
              <!-- .form-group -->
              <div class="form-group col-3">
                <label for="pi9">Flete</label>
                <!-- .input-group -->
                <div class="input-group">
                  <label class="input-group-prepend" for="cost"><span class="badge">Q</span></label>
                  <input formControlName="flete" name="flete" type="number" step="0.01" min="0" class="form-control"
                    id="flete" (change)="cambiarTotal($event)" placeholder="0.00" required />
                </div>
                <!-- /.input-group -->
              </div>
              <!-- /.form-group -->
            </div>
            <div class="card mt-2">
              <!-- .card-body -->
              <div class="card-body">
                <h2 class="card-title">Detalle de venta</h2>
                <!-- .table-responsive -->
                <div class="table-responsive">
                  <table id="table1" class="table table-hover" style="min-width: 678px;">
                    <thead>
                      <tr>
                        <th>Material</th>
                        <th>Cantidad</th>
                        <th>Costo</th>
                        <th>Subtotal</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngIf="details.length === 0">
                        <td>
                          <div class="alert alert-info has-icon" role="alert">
                            <div class="alert-icon">
                              <span class="fa fa-bullhorn"></span>
                            </div>
                            Seleccione un <b>material</b> para agregarlo al
                            <b>detalle</b> de venta.
                          </div>
                        </td>
                        <td class="align-middle">-</td>
                        <td class="align-middle">-</td>
                        <td class="align-middle">-</td>
                        <td></td>
                      </tr>
                      <tr *ngFor="let det of details">
                        <td class="align-middle">
                          {{ det.material.name }} {{ det.material.code }}
                        </td>
                        <td class="align-middle">
                          {{ det.total | number: "1.2-2" }}
                        </td>
                        <td class="align-middle">
                          Q {{ det.price | number: "1.2-2" }}
                        </td>
                        <td class="align-middle">Q {{ det.total * det.price | number : '1.2-2' }} </td>
                        <td class="align-middle text-right">
                          <button (click)="quitarDetalle(det)" type="button" class="btn btn-sm btn-icon btn-secondary">
                            <i class="far fa-trash-alt"></i>
                            <span class="sr-only">Remove</span>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
              </div>
              <!-- /.card-body -->
            </div>
            <!-- .card-body -->
            <div class="row">
              <!-- .col -->
              <div class="col-3 ml-auto">
                <!-- .metric -->
                <div class="metric">
                  <p class="metric-label">Total</p>
                  <h5 class="metric-value">
                    Q {{ total | number: "1.2-2" }}
                  </h5>
                </div>
                <!-- .metric -->
              </div>
              <!-- /.col -->
            </div>
            <hr />
            <!-- /.d-flex -->
            <button class="btn btn-primary" type="submit" id="btnUser">
              Guardar venta
            </button>
            <button [routerLink]="['/tobepaids']" type="button" class="btn btn-light" data-dismiss="modal">
              Cancelar
            </button>
          </fieldset>
          <!-- /.fieldset -->
          <ng-template #customLoadingTemplate> </ng-template>
          <!-- /.table -->
          <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
          </ngx-loading>
        </div>
        <!-- /.card-body -->
      </form>
      <!-- /.form -->
    </div>
    <!-- /.card -->
  </div>
</div>
<!-- /.page-section -->
<!-- .modal -->
<form ngNativeValidate [formGroup]="formDetalle">
  <div class="modal fade" id="addDetail" tabindex="-1" role="dialog" aria-labelledby="AgregarDetalle"
    aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <!-- .modal-content -->
      <div class="modal-content">
        <!-- .modal-header -->
        <div class="modal-header">
          <h6 class="modal-title">
            <i class="fas fa-plus-circle" style="margin-right: 5px;"></i>
            {{ detail.material.name }} {{ detail.material.code }}
          </h6>

          <div *ngIf="isSalable" class="alert alert-danger has-icon pull-left" role="alert">
            <div class="alert-icon">
              <span class="fas fa-exclamation-circle"></span>
            </div>
            No hay <b>existencias suficientes</b> para agregarlo al
            <b>detalle</b> de venta.
          </div>
        </div>
        <!-- /.modal-header -->
        <!-- .modal-body -->
        <div class="modal-body">
          <div class="row">
            <!-- .form-group -->
            <div class="form-group col-3">
              <label for="pi9">Cantidad</label>
              <!-- .input-group -->
              <div class="input-group">
                <label class="input-group-prepend" for="quantity"><span class="badge">mts</span></label>
                <input formControlName="total" name="total" type="number" step="1" min="0" class="form-control"
                  id="total" placeholder="0" required data-autofocus="true" />
              </div>
              <!-- /.input-group -->
            </div>
            <!-- /.form-group -->

            <!-- .form-group -->
            <div class="form-group col-3">
              <label for="pi9">Precio de venta</label>
              <!-- .input-group -->
              <div class="input-group">
                <label class="input-group-prepend" for="cost"><span class="badge">Q</span></label>
                <input formControlName="price" name="price" type="number" step="0.01" min="0" class="form-control"
                  id="price" placeholder="0.00" required />
              </div>
              <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
          </div>
        </div>
        <!-- /.modal-body -->
        <!-- .modal-footer -->
        <div class="modal-footer">
          <button (click)="agregarDetalle()" type="submit" class="btn btn-primary" [disabled]="!formDetalle.valid">
            Agregar
          </button>
          <button #closeMD type="button" class="btn btn-light" data-dismiss="modal">
            Cerrar
          </button>
        </div>
        <!-- /.modal-footer -->
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</form>
<!-- /.modal -->
<!-- .Material component -->
<app-material (enviarMaterial)="recibirMaterial($event)"></app-material>
<!-- /-Material component -->
<!-- .modalClientes -->
<form ngNativeValidate [formGroup]="formCliente" (ngSubmit)="crearCliente()">
  <div class="modal fade" id="addCustomer" tabindex="-1" role="dialog" aria-labelledby="clientNewModalLabel"
    aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog" role="document">
      <!-- .modal-content -->
      <div class="modal-content">
        <!-- .modal-header -->
        <div class="modal-header">
          <h6 id="clientNewModalLabel" class="modal-title inline-editable">
            <span class="sr-only">Nombre del cliente</span>
            <input formControlName="name" name="name" type="text" class="form-control form-control-lg"
              placeholder="Escriba aquí el nombre del cliente..." required="" />
          </h6>
        </div>
        <!-- /.modal-header -->
        <!-- .modal-body -->
        <div class="modal-body">
          <!-- .form-row -->
          <div class="form-row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="nit">Nit</label>
                <input formControlName="nit" name="nit" type="text" id="nit" class="form-control"
                  placeholder="Nit del cliente" data-autofocus="true" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="mobile">Teléfono</label>
                <input formControlName="mobile" name="mobile" type="text" id="mobile" class="form-control"
                  placeholder="Teléfono del cliente" />
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="address">Dirección</label>
                <textarea formControlName="address" name="address" id="address" cols="30" rows="5" class="form-control"
                  placeholder="Dirección del cliente..."></textarea>
              </div>
            </div>
          </div>
          <!-- /.form-row -->
        </div>
        <!-- /.modal-body -->
        <!-- .modal-footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Guardar</button>
          <button #closeMC type="button" class="btn btn-light" data-dismiss="modal">
            Cerrar
          </button>
        </div>
        <!-- /.modal-footer -->
        <ng-template #customLoadingTemplate> </ng-template>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
        </ngx-loading>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</form>
<!-- /.modalClientes -->
<!-- .invoice-wrapper -->
<div id="benito2" class="invoice-wrapper" style="display: none;">
  <!-- .invoice -->
  <div id="despacho" class="invoice" data-id="DESPACHO">
    <!-- .invoice-header -->
    <div class="invoice-header">
      <!-- grid row -->
      <div class="row">
        <!-- .col -->
        <div class="col-4">
          <h2 class="invoice-brand align-self-center">
            <img src="assets/images/logo-min.png" width="270" alt=""> <span class="sr-only">Reporte la Viña
              S.A</span>
          </h2>
        </div><!-- /.col -->
        <!-- .col -->
        <div class="col">
          <table class="table table-borderless table-sm">
            <tbody>
              <tr>
                <td>
                  <h1>
                    <span> TRANSPORTES LA VIÑA</span><br>
                  </h1>
                </td>
                <td></td>
              </tr>
              <tr style="color: #363642;">
                <td>
                </td>
                <td>
                  <small>ORDEN DE DESPACHO</small><br>
                  <h5><b id="noDespacho">{{ formVenta.value.document }}</b></h5>
                </td>
              </tr>
            </tbody>
          </table>
        </div><!-- /.col -->
      </div><!-- /grid row -->
    </div><!-- /.invoice-header -->
    <!-- .invoice-body -->
    <div class="invoice-body">
      <table class="table table-sm">
        <thead>
          <tr style="background-color: #b4b4b4;">
            <th> Material </th>
            <th> MTS³ </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of details">
            <td> {{ detail.material.name }} </td>
            <td> {{ detail.total }} </td>
          </tr>
          <!-- fake border -->
          <tr>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-borderless table-sm">
        <tbody>
          <tr>
            <th>
              <p>________________________________</p>
              <p>AUTORIZADO</p>
            </th>
            <th colspan="3"></th>
            <th class="text-right"> No. FACTURA </th>
            <th> {{ formVenta.value.noBill }} </th>
          </tr>
          <tr>
            <th class="text-right"> FECHA </th>
            <th> {{ today2 | date:"dd/MM/yyyy" }} </th>
          </tr>
        </tbody>
      </table>
    </div><!-- /.invoice-body -->
    <!-- .invoice-header -->
    <!-- <div class="invoice-header before"> -->
  </div><!-- /.invoice -->
</div><!-- /.invoice-wrapper -->
