<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" [routerLink]="[ '/sale', 'new']"><span
    class="fa fa-plus"></span></button>
<!-- /floating action -->
<!-- .page-section -->
<div class="page-section">
  <!-- .card -->
  <div class="card card-fluid">
    <!-- .card-body -->
    <div class="card-body">
      <div class="row">
        <!-- .form-group -->
        <div class="form-group col-3">
          <label class="control-label" for="flatpickr02">Fecha de inicio</label>
          <input #date1 id="flatpickr" name="date1" type="text" class="form-control" required>
        </div>
        <!-- /.form-group -->
        <!-- .form-group -->
        <div class="form-group col-3">
          <label class="control-label" for="flatpickr02">Fecha final</label>
          <input #date2 id="flatpickr" name="date2" type="text" class="form-control" required>
        </div>
        <!-- /.form-group -->
        <button type="button" (click)="buscarVentas()" [ngStyle]="{'margin-top': '29px'}" class="btn btn-primary"><i
            class="fas fa-search"></i>
          Buscar</button>
      </div>
      <!-- .btn-toolbar -->
      <div id="dt-buttons" class="btn-toolbar"></div>
      <!-- /.btn-toolbar -->
      <!-- .form-group -->
      <div class="form-group">
        <!-- .input-group -->
        <div class="input-group input-group-alt">
          <!-- .input-group -->
          <div class="input-group has-clearable">
            <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i
                  class="fa fa-times-circle"></i></span></button>
            <div class="input-group-prepend">
              <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
            </div><input id="table-search" type="text" class="form-control" placeholder="Buscar aquí">
          </div>
          <!-- /.input-group -->
          <!-- .input-group-prepend -->
          <div class="input-group-prepend">
            <select id="filterBy" class="custom-select">
              <option value='' selected> Filtros </option>
              <option value="0"> Cliente </option>
              <option value="1"> Fecha </option>
              <option value="2"> No. de Factura </option>
              <option value="3"> No. de Serie </option>
              <option value="4"> Flete </option>
              <option value="5"> Total </option>
              <option value="6"> Detalles </option>
            </select>
          </div>
          <!-- /.input-group-prepend -->
        </div>
        <!-- /.input-group -->
      </div>
      <!-- /.form-group -->
      <!-- .table -->
      <table id="myTable" class="table">
        <thead>
          <tr>
            <th> Cliente </th>
            <th> Fecha </th>
            <th> No. de Factura </th>
            <th> No. de Serie </th>
            <th> Flete </th>
            <th> Total </th>
            <th><i class="fas fa-cogs"></i></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let sale of sales">
            <td> {{ sale._customer.name}} {{ sale._customer.nit }} </td>
            <td> {{ dtService.fromJsonDate(sale.date) }} </td>
            <td> {{ sale.bill }} </td>
            <td> {{ sale.serie }} </td>
            <td> {{ sale.flete | number: "1.2-2" }} </td>
            <td> {{ sale.total | number: "1.2-2" }} </td>
            <td>
              <div class="dropdown">
                <button type="button" class="btn btn-sm btn-icon btn-secondary" title="Acciones" data-toggle="dropdown"
                  aria-expanded="false" aria-haspopup="true"><i class="fa fa-ellipsis-h"></i> <span
                    class="sr-only"></span></button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                  style="position: absolute; will-change: top, left; top: 29px; left: 34px;">
                  <div class="dropdown-arrow mr-n1"></div>
                  <button class="dropdown-item" (click)="verDetalle(sale)" type="button" data-toggle="modal"
                    data-target="#modalDetails">Detalles de venta</button>
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalDispatch">Generar
                    orden de despacho</button>
                  <button class="dropdown-item" type="button" data-toggle="modal" data-target="#modalBill">Generar
                    factura</button>
                </div>
                <a class="btn btn-sm btn-icon btn-secondary pointer" (click)="anularVenta(sale)" title="Eliminar"
                  alt="Eliminar"><i class="far fa-trash-alt"></i><span class="sr-only"></span></a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <!-- /.table -->
      <ng-template #customLoadingTemplate></ng-template>
      <ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="customLoadingTemplate ">
      </ngx-loading>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.page-section -->
<!-- .modal Detalle -->
<div class="modal fade" id="modalDetails" role="dialog" tabindex="-1" aria-labelledby="modalNewTaskLabel"
  aria-hidden="true">
  <!-- .modal-dialog -->
  <div class="modal-dialog modal-lg" role="document">
    <!-- .modal-content -->
    <div class="modal-content px-lg-4 py-lg-3">
      <!-- .modal-header -->
      <div class="modal-header">
        <h6 id="modalNewTaskLabel" class="modal-title"> Detalle de venta <span class="badge badge-success">Factura
            {{ sale.bill }} Serie {{ sale.serie }}</span></h6>
      </div>
      <!-- /.modal-header -->
      <!-- .modal-body -->
      <div class="modal-body">
        <!-- .table -->
        <table id="table2" class="table dt-responsive nowrap w-100">
          <thead>
            <tr>
              <th> Material </th>
              <th> Cantidad </th>
              <th> Precio de venta </th>
              <th> Subtotal </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of details">
              <td> {{ detail.material.code }} {{ detail.material.name }} </td>
              <td> {{ detail.total }} </td>
              <td> Q {{ detail.price }} </td>
              <td> Q {{ detail.total * detail.price | number : '1.2-2' }} </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <th> Material </th>
              <th> Cantidad </th>
              <th> Precio de venta </th>
              <th> Subtotal </th>
            </tr>
          </tfoot>
        </table>
        <!-- /.table -->
      </div>
      <!-- /.modal-body -->
      <hr>
      <!-- .modal-footer -->
      <div class="modal-footer">
        <button type="reset" class="btn btn-light" data-dismiss="modal">Cancel</button>
      </div>
      <!-- /.modal-footer -->
      <ng-template #customLoadingTemplate>
      </ng-template>
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
      </ngx-loading>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
