<!-- .empty-state -->
<div id="notfound-state" class="empty-state">
  <!-- .empty-state-container -->
  <div class="empty-state-container">
    <div class="state-figure">
      <img class="img-fluid" src="../../../assets/images/illustration/img-6.svg" alt="" style="max-width: 300px">
    </div>
    <h3 class="state-header"> Sin contenido, todavía. </h3>
    <p class="state-description lead text-muted"> Estamos trabajando para próximamente incluir nuevo contenido. </p>
  </div>
  <!-- /.empty-state-container -->
</div>
<!-- /.empty-state -->
