<!-- floating action -->
<button [routerLink]="['/order', 'new']" routerLinkActive="router-link-active" type="button"
  class="btn btn-success btn-floated"><span class="fa fa-plus"></span></button>
<!-- /floating action -->
<!-- .page-section -->
<div class="page-section">
  <!-- .card -->
  <div class="card card-fluid">
    <!-- .card-body -->
    <div class="card-body">
      <!-- .btn-toolbar -->
      <div id="dt-buttons" class="btn-toolbar"></div>
      <!-- /.btn-toolbar -->
      <!-- .form-group -->
      <div class="form-group">
        <!-- .input-group -->
        <div class="input-group input-group-alt">
          <!-- .input-group -->
          <div class="input-group has-clearable">
            <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i
                  class="fa fa-times-circle"></i></span></button>
            <div class="input-group-prepend">
              <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
            </div><input id="table-search" type="text" class="form-control" placeholder="Buscar aquí">
          </div>
          <!-- /.input-group -->
          <!-- .input-group-prepend -->
          <div class="input-group-prepend">
            <select id="filterBy" class="custom-select">
              <option value='' selected> Filtros </option>
              <option value="0"> Fecha </option>
              <option value="1"> Orden </option>
              <option value="2"> Destino </option>
              <option value="3"> Material </option>
              <option value="4"> Total, metros </option>
              <option value="5"> Faltante, metros </option>
              <option value="6"> Total, kilogramos </option>
              <option value="7"> Faltante, kilogramos </option>
            </select>
          </div>
          <!-- /.input-group-prepend -->
        </div>
        <!-- /.input-group -->
      </div>
      <!-- /.form-group -->
      <!-- .table -->
      <table id="myTable" class="table">
        <thead>
          <tr>
            <th> Fecha </th>
            <th> Orden </th>
            <th> Destino </th>
            <th> Material </th>
            <th> Total, metros </th>
            <th> Faltante, metros </th>
            <th> Total, kilogramos </th>
            <th> Faltante, kilogramos </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let pull of pulls">
            <td class="align-middle">
              {{ dtService.fromJsonDate(pull._order.date) }}
            </td>
            <td class="align-middle">{{ pull._order.order }}</td>
            <td class="align-middle"> {{ pull._order._destination.name }} </td>
            <td class="align-middle"> {{ pull._material.code + ' ' + pull._material.name }} </td>
            <td class="align-middle"> {{ pull.totalMts | number: '1.2-2' }} m </td>
            <td class="align-middle">
              <span *ngIf="pull.mts >= pull.totalMts"
                class="badge badge-success">{{ pull.totalMts - pull.mts | number: '1.2-2' }} m</span>
              <span *ngIf="pull.mts > 0" class="badge badge-warning">{{ pull.totalMts - pull.mts | number: '1.2-2' }} m
              </span>
              <span *ngIf="pull.mts === 0" class="badge badge-danger">{{ pull.totalMts - pull.mts | number: '1.2-2' }} m
              </span>
            </td>
            <td class="align-middle"> {{ pull.totalKg | number: '1.2-2' }} kg </td>
            <td class="align-middle">
              <span *ngIf="pull.kg >= pull.totalKg"
                class="badge badge-success">{{ pull.totalKg - pull.kg | number: '1.2-2' }}
                kg</span>
              <span *ngIf="pull.kg > 0" class="badge badge-warning">{{ pull.totalKg - pull.kg | number: '1.2-2' }}
                kg</span>
              <span *ngIf="pull.kg === 0" class="badge badge-danger">{{ pull.totalKg - pull.kg | number: '1.2-2' }}
                kg</span>
            </td>
            <td class="align-middle text-right">
              <div class="dropdown">
                <button type="button" class="btn btn-sm btn-icon btn-secondary" data-toggle="dropdown"
                  aria-expanded="false" aria-haspopup="true"><i class="fa fa-ellipsis-h"></i> <span
                    class="sr-only">Acciones</span></button>
                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end"
                  style="position: absolute; will-change: top, left; top: 29px; left: 34px;">
                  <div class="dropdown-arrow mr-n1"></div>
                  <button (click)="cargarReporte(pull)" class="dropdown-item" type="button" data-toggle="modal"
                    data-target="#modalNewTask">Ingresar
                    Reporte</button>
                  <button class="dropdown-item" type="button">Finalizar</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th> Fecha </th>
            <th> Orden </th>
            <th> Destino </th>
            <th> Material </th>
            <th> Total, metros </th>
            <th> Faltante, metros </th>
            <th> Total, kilogramos </th>
            <th> Faltante, kilogramos </th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
</div>
<!-- /.page-section -->
<!-- .form -->
<form ngNativeValidate [formGroup]="formaTrip" (ngSubmit)="crearReporte()">
  <!-- .modal -->
  <div class="modal fade" id="modalNewTask" role="dialog" aria-labelledby="modalNewTaskLabel" aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog modal-lg" role="document">
      <!-- .modal-content -->
      <div class="modal-content px-lg-4 py-lg-3">
        <!-- .modal-header -->
        <div class="modal-header">
          <h6 id="modalNewTaskLabel" class="modal-title"> Crear reporte líneas <span class="badge badge-danger">Campos
              obligatorios</span> </h6>
        </div>
        <!-- /.modal-header -->
        <!-- .modal-body -->
        <div class="modal-body">
          <!-- .form-group -->
          <div class="form-group form-row">
            <!-- .col -->
            <div class="col-md-6">
              <!-- .form-group -->
              <div class="form-group">
                <label id="job">Empleado</label>
                <select #selectE name="employee" class="form-control select2" style="width:100%!important;">
                  <option value=""> Seleccione un empleado </option>
                  <option *ngFor="let employee of employees" [value]="employee._id"> {{ employee.name }} </option>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-6">
              <!-- .form-group -->
              <div class="form-group">
                <label id="job">Vehículo</label>
                <select #selectV name="vehicle" class="form-control select2" style="width:100%!important;">
                  <option value=""> Seleccione un vehículo </option>
                  <ng-container *ngFor="let vehicle of vehicles">
                    <option *ngIf="vehicle.type === 'camion'" [value]="vehicle._id"> {{ vehicle.plate + ' (Camión)' }}
                    </option>
                    <option *ngIf="vehicle.type === 'camionG'" [value]="vehicle._id">
                      {{ vehicle.plate + ' (Camión Gondola)' }}</option>
                  </ng-container>
                </select>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.form-group -->
          <hr>
          <!-- .form-group -->
          <div class="form-group form-row">
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label class="control-label" for="flatpickr">Fecha</label> <input #date id="flatpickr"
                  formControlName="date" name="date" type="text" class="form-control" required>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label class="control-label" for="flatpickr08"> Hora de entrada </label> <input #checkIN
                  id="flatpickr08" formControlName="checkIN" name="checkIN" type="text" class="form-control"
                  data-toggle="flatpickr" data-enable-time="true" data-no-calendar="true" data-date-format="H:i"
                  data-default-date="12:00">
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label class="control-label" for="flatpickr08"> Hora de salida </label> <input #checkOUT
                  id="flatpickr08" formControlName="checkOUT" name="checkOUT" type="text" class="form-control"
                  data-toggle="flatpickr" data-enable-time="true" data-no-calendar="true" data-date-format="H:i"
                  data-default-date="12:00">
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.form-group -->
          <hr>
          <!-- .form-group -->
          <div class="form-group form-row">
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label for="tasksTitle">No. de Documento</label> <input type="text" formControlName="noTicket"
                  name="noTicket" id="noTicket" class="form-control" required=""
                  placeholder="Ingrese número de documento">
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label for="tasksTitle">No. de Entrega</label> <input type="text" formControlName="noDelivery"
                  name="noDelivery" id="noDelivery" class="form-control" required=""
                  placeholder="Ingrese número de entrega">
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label for="pay">Metros</label>
                <div class="input-group">
                  <label class="input-group-prepend" for="pi9"><span class="badge">m</span></label>
                  <input formControlName="mts" name="mts" type="number" min="0" step="0.01" class="form-control"
                    id="trips" placeholder="Ingrese los metros" required>
                </div>
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.form-group -->
          <hr>
          <!-- .form-group -->
          <div class="form-group form-row">
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label for="tasksTitle">Peso Bruto</label> <input type="number" min="0" step="0.01"
                  formControlName="kgB" name="kgB" id="kgB" class="form-control" required=""
                  placeholder="Ingrese los kilogramos brutos">
              </div>
              <!-- /.form-group -->

            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label for="tasksTitle">Peso Tara</label> <input type="number" min="0" step="0.01" formControlName="kgT"
                  name="kgT" id="kgT" class="form-control" required="" placeholder="Ingrese kilogramos tara">
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <!-- .col -->
            <div class="col-md-4">
              <!-- .form-group -->
              <div class="form-group">
                <label for="tasksTitle">Peso Neto</label> <input type="number" min="0" step="0.01" formControlName="kgN"
                  name="kgN" id="kgN" class="form-control" required="" placeholder="Ingrese los kilogramos netos">
              </div>
              <!-- /.form-group -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /.modal-body -->
        <hr>
        <!-- .modal-footer -->
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary"><i class="fas fa-save"></i> Guardar</button> <button #closeM
            type="reset" class="btn btn-light" data-dismiss="modal">Cancel</button>
        </div>
        <!-- /.modal-footer -->
        <ng-template #customLoadingTemplate>
        </ng-template>
        <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate">
        </ngx-loading>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
  <!-- /.modal -->
</form>
<!-- /.form -->
