<!-- .page-section -->
<div class="page-section">
    <!-- .page-title-bar -->
    <header class="page-title-bar">
        <button class="btn btn-danger btn-floated d-lg-none" type="button" data-toggle="sidebar"><i class="fa fa-th-list"></i></button>
    </header>
    <!-- /.page-title-bar -->
    <!-- .section-deck -->
    <div class="section-deck">
        <!-- .card -->
        <div id="labels" class="card card-fluid">
            <!-- .card-body -->
            <div class="card-body">
                <!-- .form -->
                <form>
                    <!-- .fieldset -->
                    <fieldset>
                        <legend>Datos del pedido</legend>
                        <!-- .form-group -->
                        <div class="form-group">
                            <label for="lbl2">No. de pedido <span class="badge badge-danger">Obligatorio</span></label> <input #name name="nombre" type="text" class="form-control" id="lbl2" placeholder="Ingrese el número de pedido" required>
                        </div>
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group">
                            <label id="role">Destino <span class="badge badge-danger">Obligatorio</span></label><br> <select name="role" class="form-control custom-select col-9" id="selDefault">
                             <option value=""> Seleccione un destino </option>
                            <option *ngFor="" [value]="">
                            </option>
                            </select>
                            <button type="button" class="btn btn-subtle-success col-3" data-toggle="modal" data-target="#exampleModalCenter">Crear Nuevo <i class="fas fa-external-link-alt fa-pull-right"></i></button>
                        </div>
                        <!-- /.form-group -->
                    </fieldset>
                    <!-- /.fieldset -->
                    <button class="btn btn-primary " type="submit " id="btnUser "><i class="fa fa-save "></i> Guardar</button>
                </form>
                <!-- /.form -->
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- .card -->
        <div id="labels" class="card card-fluid">
            <!-- .card-body -->
            <div class="card-body">

            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <!-- /.section-deck -->
</div>
<!-- /.page-inner -->
<!-- Normal modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterLabel" aria-hidden="true">
    <!-- .modal-dialog -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <!-- .modal-content -->
        <div class="modal-content">
            <!-- .modal-header -->
            <div class="modal-header">
                <h5 id="exampleModalCenterLabel" class="modal-title"> Nuevo Destino </h5>
            </div>
            <!-- /.modal-header -->
            <!-- .modal-body -->
            <div class="modal-body">
                <!-- .form -->
                <form>
                    <!-- .fieldset -->
                    <fieldset>
                        <!-- .form-group -->
                        <div class="form-group">
                            <label for="lbl2">Nombre <span class="badge badge-danger">Obligatorio</span></label> <input #name name="nombre" type="text" class="form-control" id="lbl2" placeholder="Ingrese el nombre del destino" required>
                        </div>
                        <!-- /.form-group -->
                        <!-- .form-group -->
                        <div class="form-group">
                            <label for="lbl2">Distancia (km) <span class="badge badge-danger">Obligatorio</span></label>
                            <div class="input-group">
                                <label class="input-group-prepend" for="pi9"><span class="badge">km</span></label> <input type="number" class="form-control" min="0.00" step="0.01" id="pi9" placeholder="Ingrese la distancia en km del destino" required>
                            </div>
                        </div>
                        <!-- /.form-group -->
                    </fieldset>
                    <!-- /.fieldset -->
                </form>
                <!-- /.form -->
            </div>
            <!-- /.modal-body -->
            <!-- .modal-footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Click Me</button> <button type="button" class="btn btn-light">Secondary Action</button>
            </div>
            <!-- /.modal-footer -->
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->