<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" [routerLink]="[ '/mech', 'new']"><span class="fa fa-plus"></span></button>
<!-- /floating action -->
<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <!-- .form-group -->
            <div class="form-group">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
                    <!-- .btn-toolbar -->
                    <div id="dt-buttons" class="btn-toolbar"></div>
                    <!-- /.btn-toolbar -->
                    <!-- .input-group -->
                    <div class="input-group has-clearable">
                        <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                        </div><input id="table-search" type="text" class="form-control" placeholder="Buscar...">
                    </div>
                    <!-- /.input-group -->
                    <!-- .input-group-prepend -->
                    <div class="input-group-prepend">
                        <select id="filterBy" class="custom-select">
                            <option value='' selected> Filtros </option>
                            <option value="0"> Código </option>
                            <option value="1"> Nombre </option>
                        </select>
                    </div>
                    <!-- /.input-group-prepend -->
                </div>
                <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
            <!-- .table -->
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th> Código </th>
                        <th> Nombre </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let mech of mechs">
                        <td> {{ mech.code }} </td>
                        <td> {{ mech.name }} </td>
                        <td class="align-middle text-right">
                            <a [routerLink]="[ '/mech', mech._id ]" class=" btn btn-sm btn-icon btn-secondary " alt="Editar "><i class="fa fa-pencil-alt "></i> <span class="sr-only ">Edit</span></a>
                            <a class="btn btn-sm btn-icon btn-secondary pointer" (click)="borrarMech( mech )"><i class="far fa-trash-alt "></i> <span class="sr-only ">Remove</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->