<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" [routerLink]="[ '/usuario', 'new']"><span class="fa fa-plus"></span></button>
<!-- /floating action -->
<!-- title and toolbar -->
<div class="d-md-flex align-items-md-start">
    <h6 class="page-title mr-sm-auto"> Listado de usuarios
    </h6>
    <!-- .btn-toolbar -->
    <!-- <div class="btn-toolbar">
        <button type="button" class="btn btn-light"><i class="oi oi-data-transfer-download"></i> <span class="ml-1">Export</span></button> <button type="button" class="btn btn-light"><i class="oi oi-data-transfer-upload"></i> <span class="ml-1">Import</span></button>
        <div class="dropdown">
            <button type="button" class="btn btn-light" data-toggle="dropdown"><span>More</span> <span class="fa fa-caret-down"></span></button>
            <div class="dropdown-arrow dropdown-arrow-right"></div>
            <div class="dropdown-menu dropdown-menu-right">
                <a href="#" class="dropdown-item">Add tasks</a> <a href="#" class="dropdown-item">Invite members</a>
                <div class="dropdown-divider"></div><a href="#" class="dropdown-item">Share</a> <a href="#" class="dropdown-item">Archive</a> <a href="#" class="dropdown-item">Remove</a>
            </div>
        </div>
    </div> -->
    <!-- /.btn-toolbar -->
</div>
<!-- /title and toolbar -->
<!-- /.page-title-bar -->
<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <!-- .form-group -->
            <div class="form-group">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
                    <!-- .input-group -->
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                        </div><input #input (keyup)="buscarUsuarios( input.value )" type="text" class="form-control" placeholder="Buscar Usuario">
                        <div class="spinner-border text-success" role="status" *ngIf="cargando">
                            <span class="sr-only">Cargando...</span>
                        </div>
                    </div>
                    <!-- /.input-group -->
                </div>
                <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
            <!-- .table-responsive -->
            <div class="text-muted"> Mostrando 1 de {{ totalRegistros }} Usuarios registrados </div>
            <div class="table-responsive" *ngIf="!cargando">
                <!-- .table -->
                <table class="table">
                    <!-- thead -->
                    <thead>
                        <tr>
                            <th> Nombre </th>
                            <th> Apellido </th>
                            <th> Email </th>
                            <th> Rol </th>
                            <th style="width:100px; min-width:100px;"> &nbsp; </th>
                        </tr>
                    </thead>
                    <!-- /thead -->
                    <!-- tbody -->
                    <tbody>
                        <!-- tr -->
                        <tr *ngFor="let usuario of usuarios">
                            <td>
                                <div class="user-avatar user-avatar-lg mr-3"><img class="img-fluid" [src]="usuario.img | imagen" alt="Card image cap"></div> {{ usuario.name }}</td>
                            <td>{{ usuario.lastName}}</td>
                            <td>{{ usuario.email }}</td>
                            <td>
                                <select (change)="actualizarRol( usuario )" [(ngModel)]="usuario.role" name="role" id="role" class="form-control custom-select">
                                    <option value="ADMIN_ROLE">Administrador</option>
                                    <option value="USER_ROLE">Operativo</option>
                                </select>
                            </td>
                            <td class="align-middle text-right">
                                <a [routerLink]="[ '/usuario', usuario._id]" class=" btn btn-sm btn-icon btn-secondary " alt="Editar"><i class="fa fa-pencil-alt "></i> <span class="sr-only ">Edit</span></a>
                                <a (click)="borrarUsuario(usuario)" class="btn btn-sm btn-icon btn-secondary pointer"><i class="far fa-trash-alt "></i> <span class="sr-only ">Remove</span></a>
                            </td>
                        </tr>
                        <!-- /tr -->
                    </tbody>
                    <!-- /tbody -->
                </table>
                <!-- /.table -->
            </div>
            <!-- /.table-responsive -->
            <!-- .pagination -->
            <ul class="pagination justify-content-center mt-4 ">
                <li class="page-item pointer ">
                    <a class="page-link " (click)="cambiarDesde(-5) "><i class="fa fa-lg fa-angle-left "></i></a>
                </li>
                <!-- <li class="page-item ">
                    <a class="page-link " href="# ">1</a>
                </li>
                <li class="page-item disabled ">
                    <a class="page-link " href="# " tabindex="-1 ">...</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " href="# ">13</a>
                </li>
                <li class="page-item active ">
                    <a class="page-link " href="# ">14</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " href="# ">15</a>
                </li>
                <li class="page-item disabled ">
                    <a class="page-link " href="# " tabindex="-1 ">...</a>
                </li>
                <li class="page-item ">
                    <a class="page-link " href="# ">24</a>
                </li> -->
                <li class="page-item pointer ">
                    <a class="page-link " (click)="cambiarDesde(5) "><i class="fa fa-lg fa-angle-right "></i></a>
                </li>
            </ul>
            <!-- /.pagination -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->