<!-- .page -->
<div class="page has-sidebar has-sidebar-fluid has-sidebar-expand-xl">
    <!-- .page-inner -->
    <div class="page-inner page-inner-fill position-relative">
        <header class="page-navs bg-light shadow-sm">
            <!-- .input-group -->
            <div class="input-group has-clearable">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button> <label class="input-group-prepend" for="searchVehicles"><span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span></label>
                <input type="text" class="form-control" id="searchVehicles" data-filter=".board .list-group-item" placeholder="Buscar Vehículos">
            </div>
            <!-- /.input-group -->
        </header>
        <!-- board -->
        <div class="board p-0 perfect-scrollbar">
            <!-- .list-group -->
            <div class="list-group list-group-flush list-group-divider border-top" data-toggle="radiolist">
                <!-- .list-group-item -->
                <div *ngFor="let vehicle of vehicles" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
                    <a href="#" (click)="seleccionarVehicle( vehicle )" class="stretched-link"></a>
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'camion'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-yellow"> <i class="fas fa-truck"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'camion'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Camión: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text">#{{ vehicle.no + ' ' + vehicle._make.name + ' CP: ' + vehicle.cp }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'camionG'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-orange"> <i class="fas fa-truck-moving"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'camionG'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Camión gondola: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> #{{ vehicle.no + ' ' + vehicle._make.name + ' CP: ' + vehicle.cp }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'vehiculo'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-blue"> <i class="fas fa-truck-pickup"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'vehiculo'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Vehículo: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> {{ vehicle._make.name }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'riego'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-green"> <i class="fas fa-truck-monster"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'riego'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Camión para riego: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> #{{ vehicle.no + ' ' + vehicle._make.name + ' CP:' + vehicle.cp }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'stock'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-pink"> <i class="fas fa-snowplow"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'stock'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Excavadora: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> {{ vehicle._make.name }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                </div>
                <!-- /.list-group-item -->
                <!-- .list-group-item -->
                <div *ngFor="let gondola of gondolas" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
                    <a href="#" (click)="seleccionarGondola( gondola )" class="stretched-link"></a>
                    <!-- .list-group-item-figure -->
                    <div class="list-group-item-figure">
                        <div class="tile tile-circle bg-red"> <i class="fas fa-truck-moving"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div class="list-group-item-body">
                        <h4 class="list-group-item-title">Gondola: {{ gondola.plate }} </h4>
                        <p *ngIf="gondola._truck !== null" class="list-group-item-text"> {{ 'Camión asignado: ' + gondola._truck.plate }} </p>
                        <p *ngIf="gondola._truck === null" class="list-group-item-text"> Camión sin asignar </p>
                    </div>
                    <!-- /.list-group-item-body -->
                </div>
                <!-- /.list-group-item -->
            </div>
            <!-- /.list-group -->
        </div>
        <!-- /board -->
    </div>
    <!-- /.page-inner -->
    <!-- .page-sidebar -->
    <div class="page-sidebar bg-light">
        <!-- .sidebar-header -->
        <header class="sidebar-header d-xl-none">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="#" data-toggle="sidebar"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Atras</a>
                    </li>
                </ol>
            </nav>
        </header>
        <!-- /.sidebar-header -->
        <!-- .sidebar-section -->
        <div class="sidebar-section sidebar-section-fill">
            <h1 class="page-title">
                <i class="{{ icon }} text-muted mr-2"></i> {{ this.type + ' ' + this.title }} </h1>
            <p class="text-muted"> {{ this.info }} </p>
            <!-- .nav-scroller -->
            <div class="nav-scroller border-bottom">
                <!-- .nav-tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a #detalles class="nav-link active show" data-toggle="tab" href="#maintenance" (click)="inGondola = false; inGas = false;"> Mantenimiento Actual</a>
                    </li>
                    <li *ngIf="selected" class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#terminados" (click)="inGondola = false; inGas = false;"> Mantenimientos Terminados</a>
                    </li>
                    <li *ngIf="selected" class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#aprobados" (click)="inGondola = false; inGas = true;">Mantenimientos Aprobados</a>
                    </li>
                </ul>
                <!-- /.nav-tabs -->
            </div>
            <!-- /.nav-scroller -->
            <!-- .tab-content -->
            <div class="tab-content pt-4" id="clientDetailsTabs">
                <!-- .tab-pane -->
                <div class="tab-pane fade show active" id="maintenance" role="tabpanel" aria-labelledby="client-billing-contact-tab">
                    <!-- .section-block -->
                    <div class="section-block">
                        <!-- Default Steps -->
                        <!-- .bs-stepper -->
                        <div id="stepper" class="bs-stepper">
                            <!-- .card -->
                            <div class="card">
                                <!-- .card-header -->
                                <div class="card-header">
                                    <h5 *ngIf="mantenimiento._user !== null && selected">Vehículo en mantenimiento</h5>
                                    <p *ngIf="mantenimiento._user !== null && selected" class="text-muted"> Aquí puede consultar el estado del vehículo dentro del taller. </p>
                                    <h5 *ngIf="mantenimiento._user === null && selected">Vehiculo disponible</h5>
                                    <p *ngIf="mantenimiento._user === null && selected" class="text-muted"> Aqui puede ingresar el vehículo al taller para un nuevo mantenimiento. </p>
                                    <!-- .steps -->
                                    <div class="steps steps-" role="tablist">
                                        <ul>
                                            <li class="step" data-target="#test-l-1">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="fas fa-external-link-alt"></i></span> <span class="d-none d-sm-inline">Entrada </span></a>
                                            </li>
                                            <li class="step" data-target="#test-l-2">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="fas fa-calendar-week"></i></span> <span class="d-none d-sm-inline">Detalles del mantenimiento</span></a>
                                            </li>
                                            <!-- <li class="step" data-target="#test-l-3">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="oi oi-credit-card"></i></span> <span class="d-none d-sm-inline">Payment</span></a>
                                            </li> -->
                                            <li class="step" data-target="#test-l-4">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="fas fa-sign-out-alt"></i></span> <span class="d-none d-sm-inline">Salida </span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.steps -->
                                </div>
                                <!-- /.card-header -->
                                <!-- .card-body -->
                                <div class="card-body">
                                    <form id="stepper-form" name="stepperForm" class="p-lg-4 p-sm-3 p-0">
                                        <!-- .content -->
                                        <div id="test-l-1" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <div *ngIf="!selected" class="alert alert-warning has-icon" role="alert">
                                                    <div class="alert-icon">
                                                        <span class="fa fa-bullhorn"></span>
                                                    </div>Seleccione un vehículo para comenzar...
                                                </div>
                                                <div *ngIf="selected">
                                                    <legend>Agregue los mecánicos que van a colaborar en el mantenimiento</legend>
                                                    <!-- .form-group -->
                                                    <div class="form-group">
                                                        <label id="typeL">Mecánico </label>
                                                        <select #selectM name="mech" class="form-control select2" style="width:100%!important;">
                                                            <option value=""> Seleccione un mecánico </option>
                                                            <option *ngFor="let mech of mecanicos" [value]="mech._id"> {{ mech.code + ' ' + mech.name }}
                                                            </option>
                                                            </select>
                                                    </div>
                                                    <!-- /.form-group -->
                                                    <button (click)="addMech();" class="btn btn-primary offset-5" type="submit"><i class="fas fa-user-plus"></i> Agregar</button>
                                                    <hr>
                                                    <!-- .table-responsive -->
                                                    <div class="table-responsive">
                                                        <table class="table table-hover" style="min-width: 678px">
                                                            <thead>
                                                                <tr>
                                                                    <th> Código </th>
                                                                    <th> Nombre </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let mech of mantenimiento._mech">
                                                                    <td class="align-middle"> {{ mech.code }} </td>
                                                                    <td class="align-middle"> {{ mech.name }} </td>
                                                                    <td class="align-middle">
                                                                        <button (click)='deleteMech( mech._id )' type="button" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span class="sr-only">Eliminar</span></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.table-responsive -->
                                                    <button type="button" class="btn btn-success btn-lg btn-block"><i class="fas fa-tools"></i> Click para iniciar con el mantenimiento</button>
                                                </div>
                                                <!-- .form-group -->
                                                <hr class="mt-5">
                                                <!-- .d-flex -->
                                                <div class="d-flex">
                                                    <p> Por favor siga los siguientes pasos para realizar un mantenimiento. </p><button type="button" class="next btn btn-primary ml-auto" data-validate="fieldset01">Siguiente</button>
                                                </div>
                                                <!-- /.d-flex -->
                                            </fieldset>
                                            <!-- /fieldset -->
                                        </div>
                                        <!-- /.content -->
                                        <!-- .content -->
                                        <div id="test-l-2" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <legend>Infomación sobre el mantenimiento actual</legend>
                                                <!-- .row -->
                                                <div class="row">
                                                    <!-- grid column -->
                                                    <div class="col-md-6 mb-4">
                                                        <label for="tf6">Detalles de revisión</label>
                                                        <textarea class="form-control" id="tf6" rows="5"></textarea>
                                                    </div>
                                                    <!-- /grid column -->
                                                    <!-- grid column -->
                                                    <div class="col-md-6 mb-4">
                                                        <label for="tf6">Detalles de reparación</label>
                                                        <textarea class="form-control" id="tf6" rows="5"></textarea>
                                                    </div>
                                                    <!-- /grid column -->
                                                </div>
                                                <!-- /.row -->
                                                <!-- .form-group -->
                                                <div class="form-group mb-4">
                                                    <div class="form-label-group">
                                                        <input type="text" id="address" class="form-control" name="address" value="5888 Mya Causeway" data-parsley-group="fieldset02" placeholder="Address" required=""> <label for="address">Address</label>
                                                    </div>
                                                    <div class="invalid-feedback"> Please enter your shipping address. </div>
                                                </div>
                                                <!-- /.form-group -->
                                                <!-- .form-group -->
                                                <div class="form-group mb-4">
                                                    <div class="form-label-group">
                                                        <input type="text" id="address2" class="form-control" name="address2" value="Apartment 185" placeholder="Apt. or suite"> <label for="address2">Apartment or suite <span class="badge badge-secondary"><em>Optional</em></span></label>
                                                    </div>
                                                </div>
                                                <!-- /.form-group -->
                                                <!-- .row -->
                                                <div class="row">
                                                    <!-- grid column -->
                                                    <div class="col-md-3 mb-4">
                                                        <div class="form-label-group">
                                                            <input type="text" id="zip" class="form-control" name="zip" value="97729" data-parsley-group="fieldset02" required=""> <label for="zip">Zip</label>
                                                        </div>
                                                        <div class="invalid-feedback"> Zip code required. </div>
                                                    </div>
                                                    <!-- /grid column -->
                                                    <!-- grid column -->
                                                    <div class="col-md-5 mb-4">
                                                        <select id="country" class="custom-select custom-select-lg d-block w-100" name="country" data-parsley-group="fieldset02" required="">
                                                    <option value=""> Choose... </option>
                                                    <option selected> United States </option>
                                                  </select>
                                                        <div class="invalid-feedback"> Please select a valid country. </div>
                                                    </div>
                                                    <!-- /grid column -->
                                                    <!-- grid column -->
                                                    <div class="col-md-4 mb-4">
                                                        <select id="state" class="custom-select custom-select-lg d-block w-100" name="state" data-parsley-group="fieldset02" required="">
                                                    <option value=""> Choose... </option>
                                                    <option selected> California </option>
                                                  </select>
                                                        <div class="invalid-feedback"> Please provide a valid state. </div>
                                                    </div>
                                                    <!-- /grid column -->
                                                </div>
                                                <!-- /.row -->
                                                <hr class="mt-5">
                                                <div class="d-flex">
                                                    <button type="button" class="prev btn btn-secondary">Anterior</button> <button type="button" class="next btn btn-primary ml-auto" data-validate="fieldset02">Siguiente</button>
                                                </div>
                                            </fieldset>
                                            <!-- /fieldset -->
                                        </div>
                                        <!-- /.content -->
                                        <!-- .content -->
                                        <div id="test-l-3" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <legend>Payment Information</legend>
                                                <!-- .custom-control -->
                                                <div class="custom-control custom-radio mb-4">
                                                    <input type="radio" id="pmd1" class="custom-control-input" name="paymentMethod" value="creditcard" data-parsley-group="fieldset03" required=""> <label class="custom-control-label" for="pmd1">Credit card</label>
                                                    <!-- .custom-control-hint -->
                                                    <div class="custom-control-hint">
                                                        <!-- .row -->
                                                        <div class="row">
                                                            <!-- form col -->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="form-label-group">
                                                                        <input type="text" id="pm1" name="ccholder" class="form-control" data-parsley-group="creditcard" placeholder="Name on card" required=""> <label for="pm1">Card holder</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /form col -->
                                                            <!-- form col -->
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <div class="form-label-group">
                                                                        <input type="text" name="ccnumber" class="form-control" id="pm2" data-mask="cc" data-parsley-group="creditcard" placeholder="4242 4242 4242 4242" required=""> <label for="pm2">Card number</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /form col -->
                                                        </div>
                                                        <!-- /.row -->
                                                        <!-- .row -->
                                                        <div class="row">
                                                            <!-- form col -->
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <div class="form-label-group">
                                                                        <input type="text" id="pm3" name="ccexpdate" class="form-control" data-mask="expdatecc" data-parsley-group="creditcard" placeholder="MM/YY" required=""> <label for="pm3">Exp. date</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /form col -->
                                                            <!-- form col -->
                                                            <div class="col-md-3">
                                                                <div class="form-group">
                                                                    <div class="form-label-group">
                                                                        <input type="text" id="pm4" name="cccvc" class="form-control" data-mask="cvc" data-parsley-group="creditcard" placeholder="XXX" required=""> <label for="pm4">CVC</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- /form col -->
                                                            <!-- form col -->
                                                            <div class="col-md-6">
                                                                <!-- you can change attribute type to type="submit" on your real project -->
                                                                <button type="button" id="savecc" class="btn btn-lg btn-primary btn-block">Save</button>
                                                            </div>
                                                            <!-- /form col -->
                                                        </div>
                                                        <!-- /.row -->
                                                    </div>
                                                    <!-- /.custom-control-hint -->
                                                </div>
                                                <!-- /.custom-control -->
                                                <!-- .custom-control -->
                                                <div class="custom-control custom-radio mb-4">
                                                    <input type="radio" id="pmd2" class="custom-control-input" name="paymentMethod" value="paypal" checked> <label class="custom-control-label" for="pmd2">Paypal</label>
                                                    <!-- .custom-control-hint -->
                                                    <div class="custom-control-hint">
                                                        <div class="row">
                                                            <div class="col-md-10 col-lg-8">
                                                                <div class="form-group">
                                                                    <div class="input-group h-auto">
                                                                        <div class="form-label-group">
                                                                            <input type="text" name="paypalid" class="form-control" value="paypal@looper.com" readonly> <label>Personal account</label>
                                                                        </div>
                                                                        <div class="input-group-append ml-auto">
                                                                            <span class="input-group-text text-success"><strong>Connected</strong></span>
                                                                        </div>
                                                                    </div>
                                                                </div><button class="btn btn-danger" type="button">Disconnect</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /.custom-control-hint -->
                                                </div>
                                                <!-- /.custom-control -->
                                                <!-- .custom-control -->
                                                <div class="custom-control custom-radio mb-4">
                                                    <input type="radio" id="pmd3" class="custom-control-input" name="paymentMethod" value="stripe"> <label class="custom-control-label" for="pmd3">Stripe</label>
                                                    <!-- .custom-control-hint -->
                                                    <div class="custom-control-hint">
                                                        <button class="btn btn-primary" type="button">Connect with <strong><em>Stripe</em></strong></button>
                                                    </div>
                                                    <!-- /.custom-control-hint -->
                                                </div>
                                                <!-- /.custom-control -->
                                                <hr class="mt-5">
                                                <div class="d-flex">
                                                    <button type="button" class="prev btn btn-secondary">Previous</button> <button type="button" class="next btn btn-primary ml-auto" data-validate="fieldset03">Siguiente</button>
                                                </div>
                                            </fieldset>
                                            <!-- /fieldset -->
                                        </div>
                                        <!-- /.content -->
                                        <!-- .content -->
                                        <div id="test-l-4" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <legend>Terms Agreement</legend>
                                                <!-- .card -->
                                                <div class="card bg-light">
                                                    <div class="card-body overflow-auto" style="height: 260px">
                                                        <p> Ad vero quidem sit magni, sed eum laudantium, alias, consequuntur commodi eveniet nesciunt debitis esse sint temporibus id magnam accusamus perferendis laborum? Nobis ducimus minus blanditiis voluptates
                                                            et, eligendi laborum. Ea suscipit, aperiam libero id dicta quia architecto iusto tenetur, dignissimos veritatis adipisci et! Recusandae impedit repudiandae, quam sunt repellat quia iusto tempora
                                                            temporibus alias deleniti, nulla? Laborum expedita optio quam quasi, esse magni sit tempore! </p>
                                                        <p> Dicta asperiores ea voluptatum nihil quasi, officia tempora voluptates. Quidem reprehenderit nesciunt culpa, architecto iure, neque itaque suscipit, iusto, porro ipsum consequatur! </p>
                                                        <p> Ad vero quidem sit magni, sed eum laudantium, alias, consequuntur commodi eveniet nesciunt debitis esse sint temporibus id magnam accusamus perferendis laborum? Nobis ducimus minus blanditiis voluptates
                                                            et, eligendi laborum. Ea suscipit, aperiam libero id dicta quia architecto iusto tenetur, dignissimos veritatis adipisci et! Recusandae impedit repudiandae, quam sunt repellat quia iusto tempora
                                                            temporibus alias deleniti, nulla? Laborum expedita optio quam quasi, esse magni sit tempore! </p>
                                                        <p> Dicta asperiores ea voluptatum nihil quasi, officia tempora voluptates. Quidem reprehenderit nesciunt culpa, architecto iure, neque itaque suscipit, iusto, porro ipsum consequatur! </p>
                                                    </div>
                                                </div>
                                                <!-- /.card -->
                                                <!-- .form-group -->
                                                <div class="form-group">
                                                    <!-- .custom-control -->
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" id="agreement" name="agreement" class="custom-control-input" data-parsley-group="agreement" required=""> <label class="custom-control-label" for="agreement">Agree to terms and conditions</label>
                                                    </div>
                                                    <!-- /.custom-control -->
                                                </div>
                                                <!-- /.form-group -->
                                                <hr class="mt-5">
                                                <div class="d-flex">
                                                    <button type="button" class="prev btn btn-secondary">Previous</button> <button type="submit" class="submit btn btn-primary ml-auto" data-validate="agreement">Submit</button>
                                                </div>
                                            </fieldset>
                                            <!-- /fieldset -->
                                        </div>
                                        <!-- /.content -->
                                    </form>
                                    <!-- /form -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.bs-stepper -->
                        <!-- toasts container -->
                        <div aria-live="polite" aria-atomic="true">
                            <!-- Position it -->
                            <div style="position: fixed; top: 4.5rem; right: 1rem; z-index: 1050">
                                <!-- .toast -->
                                <div id="submitfeedback" class="toast bg-dark border-dark text-light fade hide" data-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header bg-primary text-white"> See your browser console </div>
                                    <div class="toast-body">
                                        <strong>Congrats!</strong> You see the submit feedback. </div>
                                </div>
                                <!-- /.toast -->
                            </div>
                        </div>
                        <!-- /toasts container -->
                    </div>
                    <!-- /.section-block -->
                </div>
                <!-- /.tab-pane -->
                <!-- .tab-pane -->
                <div class="tab-pane fade" id="terminados" role="tabpanel" aria-labelledby="client-billing-contact-tab">
                    <h6>Mantenimientos terminados</h6>
                </div>
                <!-- /.tab-pane -->
                <!-- .tab-pane -->
                <div class="tab-pane fade" id="aprobados" role="tabpanel" aria-labelledby="client-billing-contact-tab">
                    <h6>Mantenimientos Aprobados</h6>
                </div>
                <!-- /.tab-pane -->
                <ng-template #customLoadingTemplate>
                </ng-template>
                <!-- /.table -->
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.sidebar-section -->
    </div>
    <!-- /.page-sidebar -->
    <!-- Keep in mind that modals should be placed outsite of page sidebar -->
</div>
<!-- /.page -->