<!-- .page -->
<div class="page has-sidebar has-sidebar-fluid has-sidebar-expand-xl">
    <!-- .page-inner -->
    <div class="page-inner page-inner-fill position-relative">
        <header class="page-navs bg-light shadow-sm">
            <!-- .input-group -->
            <div class="input-group has-clearable">
                <button type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button> <label class="input-group-prepend" for="searchVehicles"><span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span></label>
                <input type="text" class="form-control" id="searchVehicles" data-filter=".board .list-group-item" placeholder="Buscar Vehículos">
            </div>
            <!-- /.input-group -->
        </header>
        <!-- board -->
        <div class="board p-0 perfect-scrollbar">
            <!-- .list-group -->
            <div class="list-group list-group-flush list-group-divider border-top" data-toggle="radiolist">
                <!-- .list-group-item -->
                <div *ngFor="let vehicle of vehicles" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
                    <a href="#" (click)="seleccionarVehicle( vehicle )" class="stretched-link"></a>
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'camion'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-yellow"> <i class="fas fa-truck"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'camion'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Camión: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text">#{{ vehicle.no + ' ' + vehicle._make.name + ' CP: ' + vehicle.cp }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'camionG'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-orange"> <i class="fas fa-truck-moving"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'camionG'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Camión gondola: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> #{{ vehicle.no + ' ' + vehicle._make.name + ' CP: ' + vehicle.cp }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'vehiculo'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-blue"> <i class="fas fa-truck-pickup"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'vehiculo'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Vehículo: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> {{ vehicle._make.name }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'riego'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-green"> <i class="fas fa-truck-monster"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'riego'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Camión para riego: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> #{{ vehicle.no + ' ' + vehicle._make.name + ' CP:' + vehicle.cp }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                    <!-- .list-group-item-figure -->
                    <div *ngIf="vehicle.type === 'stock'" class="list-group-item-figure">
                        <div class="tile tile-circle bg-pink"> <i class="fas fa-snowplow"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div *ngIf="vehicle.type === 'stock'" class="list-group-item-body">
                        <h4 class="list-group-item-title">Excavadora: {{ vehicle.plate }} </h4>
                        <p class="list-group-item-text"> {{ vehicle._make.name }} </p>
                    </div>
                    <!-- /.list-group-item-body -->
                </div>
                <!-- /.list-group-item -->
                <!-- .list-group-item -->
                <div *ngFor="let gondola of gondolas" class="list-group-item" data-toggle="sidebar" data-sidebar="show">
                    <a href="#" (click)="seleccionarGondola( gondola )" class="stretched-link"></a>
                    <!-- .list-group-item-figure -->
                    <div class="list-group-item-figure">
                        <div class="tile tile-circle bg-red"> <i class="fas fa-truck-moving"></i> </div>
                    </div>
                    <!-- /.list-group-item-figure -->
                    <!-- .list-group-item-body -->
                    <div class="list-group-item-body">
                        <h4 class="list-group-item-title">Gondola: {{ gondola.plate }} </h4>
                        <p *ngIf="gondola._truck !== null" class="list-group-item-text"> {{ 'Camión asignado: ' + gondola._truck.plate }} </p>
                        <p *ngIf="gondola._truck === null" class="list-group-item-text"> Camión sin asignar </p>
                    </div>
                    <!-- /.list-group-item-body -->
                </div>
                <!-- /.list-group-item -->
            </div>
            <!-- /.list-group -->
        </div>
        <!-- /board -->
    </div>
    <!-- /.page-inner -->
    <!-- .page-sidebar -->
    <div class="page-sidebar bg-light">
        <!-- .sidebar-header -->
        <header class="sidebar-header d-xl-none">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">
                        <a href="#" data-toggle="sidebar"><i class="breadcrumb-icon fa fa-angle-left mr-2"></i>Atras</a>
                    </li>
                </ol>
            </nav>
        </header>
        <!-- /.sidebar-header -->
        <!-- .sidebar-section -->
        <div class="sidebar-section sidebar-section-fill">
            <h1 class="page-title">
                <i class="{{ icon }} text-muted mr-2"></i> {{ this.type + ' ' + this.title }} </h1>
            <p class="text-muted"> {{ this.info }} </p>
            <!-- .nav-scroller -->
            <div class="nav-scroller border-bottom">
                <!-- .nav-tabs -->
                <ul class="nav nav-tabs">
                    <li class="nav-item">
                        <a #detalles class="nav-link active show" data-toggle="tab" href="#maintenance"> Mantenimiento Actual</a>
                    </li>
                    <li *ngIf="selected" class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#terminados"> Mantenimientos Terminados</a>
                    </li>
                    <li *ngIf="selected" class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#aprobados">Mantenimientos Aprobados</a>
                    </li>
                </ul>
                <!-- /.nav-tabs -->
            </div>
            <!-- /.nav-scroller -->
            <!-- .tab-content -->
            <div class="tab-content pt-4" id="clientDetailsTabs">
                <!-- .tab-pane -->
                <div class="tab-pane fade show active" id="maintenance" role="tabpanel" aria-labelledby="client-billing-contact-tab">
                    <!-- .section-block -->
                    <div class="section-block">
                        <!-- Default Steps -->
                        <!-- .bs-stepper -->
                        <div id="stepper" class="bs-stepper">
                            <!-- .card -->
                            <div class="card">
                                <!-- .card-header -->
                                <div class="card-header">
                                    <!-- .steps -->
                                    <div class="steps steps-" role="tablist">
                                        <ul>
                                            <li class="step" data-target="#test-l-1">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="fas fa-external-link-alt"></i></span> <span class="d-none d-sm-inline">Entrada </span></a>
                                            </li>
                                            <li class="step" data-target="#test-l-2">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="fas fa-calendar-week"></i></span> <span class="d-none d-sm-inline">Detalles del mantenimiento</span></a>
                                            </li>
                                            <li class="step" data-target="#test-l-4">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="fas fa-sign-out-alt"></i></span> <span class="d-none d-sm-inline">Salida </span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- /.steps -->
                                </div>
                                <!-- /.card-header -->
                                <!-- .card-body -->
                                <div class="card-body">
                                    <form id="stepper-form" name="stepperForm" class="p-lg-4 p-sm-3 p-0">
                                        <!-- .content -->
                                        <div id="test-l-1" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <h6 *ngIf="mantenimiento._user !== null && selected">Vehículo en mantenimiento</h6>
                                                <p *ngIf="mantenimiento._user !== null && selected" class="text-muted"> Aquí puede consultar el estado del vehículo dentro del taller. </p>
                                                <h6 *ngIf="mantenimiento._user === null && selected">Vehiculo disponible</h6>
                                                <p *ngIf="mantenimiento._user === null && selected" class="text-muted"> Aqui puede ingresar el vehículo al taller para un nuevo mantenimiento. </p>
                                                <div *ngIf="mantenimiento._user !== null && selected" class="list-group-item list-group-item-action">
                                                    <div class="list-group-item-figure">
                                                        <div class="user-avatar user-avatar-lg">
                                                            <img [src]="lastUser.img | imagen" alt="">
                                                        </div>
                                                    </div>
                                                    <div class="list-group-item-body">
                                                        <h3 class="list-group-item-title"> Inicio: {{dateStart | date:'dd/MM/yyyy à HH:mm'}} </h3>
                                                        <h4 class="list-group-item-subtitle"> Usuario: {{ lastUser.name }} {{ lastUser.lastName }} </h4>
                                                        <p class="list-group-item-text text-truncate"> Últimas modificaciones </p>
                                                    </div>
                                                </div>
                                                <hr>
                                                <div *ngIf="!selected" class="alert alert-warning has-icon" role="alert">
                                                    <div class="alert-icon">
                                                        <span class="fa fa-bullhorn"></span>
                                                    </div>Seleccione un vehículo para comenzar...
                                                </div>
                                                <div *ngIf="selected">
                                                    <legend>Agregue los mecánicos que van a colaborar en el mantenimiento</legend>
                                                    <!-- .form-group -->
                                                    <div class="form-group">
                                                        <label id="typeL">Mecánico </label>
                                                        <select #selectM name="mech" class="custom-select" style="width:100%!important;">
                                                            <option value=""> Seleccione un mecánico </option>
                                                            <option *ngFor="let mech of mecanicos" [value]="mech._id"> {{ mech.code + ' ' + mech.name }}
                                                            </option>
                                                            </select>
                                                    </div>
                                                    <!-- /.form-group -->
                                                    <button (click)="addMech();" class="btn btn-primary offset-5" type="submit"><i class="fas fa-user-plus"></i> Agregar</button>
                                                    <hr>
                                                    <!-- .table-responsive -->
                                                    <div class="table-responsive">
                                                        <table class="table table-hover" style="min-width: 678px">
                                                            <thead>
                                                                <tr>
                                                                    <th> Código </th>
                                                                    <th> Nombre </th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr *ngFor="let mech of mechanics">
                                                                    <td class="align-middle"> {{ mech.code }} </td>
                                                                    <td class="align-middle"> {{ mech.name }} </td>
                                                                    <td class="align-middle">
                                                                        <button (click)='deleteMech( mech._id )' type="button" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span class="sr-only">Eliminar</span></button>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /.table-responsive -->
                                                </div>
                                                <!-- .form-group -->
                                                <hr class="mt-5">
                                                <!-- .d-flex -->
                                                <div class="d-flex">
                                                    <p> Por favor siga los siguientes pasos para realizar un mantenimiento. </p>
                                                    <button (click)="crearMantenimiento();" type="button" class="next btn btn-success ml-auto" data-validate="fieldset01" [disabled]="!selected"><label *ngIf="mantenimiento._user !== null && selected">Siguiente</label> <label *ngIf="mantenimiento._user === null"><i class="fas fa-tools"></i> Iniciar</label></button>
                                                </div>
                                                <!-- /.d-flex -->
                                            </fieldset>
                                            <!-- /fieldset -->
                                        </div>
                                        <!-- /.content -->
                                        <!-- .content -->
                                        <div id="test-l-2" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <div *ngIf="!selected" class="alert alert-warning has-icon" role="alert">
                                                    <div class="alert-icon">
                                                        <span class="fa fa-bullhorn"></span>
                                                    </div>Seleccione un vehículo para comenzar...
                                                </div>
                                                <div *ngIf="mantenimiento._user === null && selected" class="alert alert-danger has-icon" role="alert">
                                                    <div class="alert-icon">
                                                        <span class="fa fa-bullhorn"></span>
                                                    </div>Por favor inicie un nuevo mantenimiento...
                                                </div>
                                                <div *ngIf="mantenimiento._user !== null && selected">
                                                    <legend>Infomación sobre el mantenimiento actual</legend>
                                                    <!-- .row -->
                                                    <div class="row">
                                                        <!-- grid column -->
                                                        <div class="col-md-6 mb-4">
                                                            <label for="tf6">Detalles de revisión</label>
                                                            <textarea class="form-control" id="tf6" rows="7" data-parsley-group="agreement" required></textarea>
                                                        </div>
                                                        <!-- /grid column -->
                                                        <!-- grid column -->
                                                        <div class="col-md-6 mb-4">
                                                            <label for="tf6">Detalles de reparación</label>
                                                            <textarea class="form-control" id="tf6" rows="7" data-parsley-group="agreement" required></textarea>
                                                        </div>
                                                        <!-- /grid column -->
                                                    </div>
                                                    <!-- /.row -->
                                                    <div class="card mt-4">
                                                        <!-- .card-body -->
                                                        <div class="card-body">
                                                            <h2 class="card-title"> Reparación del vehículo </h2>
                                                            <p class="text-muted"> Aquí puede agregar los repuesto utilizados. </p>
                                                            <!-- .table-responsive -->
                                                            <div class="table-responsive">
                                                                <table class="table table-hover" style="min-width: 678px">
                                                                    <thead>
                                                                        <tr>
                                                                            <th> Repuesto </th>
                                                                            <th> Cantidad </th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="align-middle"> Alexane Collins </td>
                                                                            <td class="align-middle"> fhauck@gmail.com </td>
                                                                            <td class="align-middle text-right">
                                                                                <button type="button" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span class="sr-only">Remove</span></button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <!-- /.table-responsive -->
                                                        </div>
                                                        <!-- /.card-body -->
                                                        <!-- .card-footer -->
                                                        <div class="card-footer">
                                                            <a href="#clientContactNewModal" class="card-footer-item" data-toggle="modal"><i class="fa fa-plus-circle mr-1"></i> Agregar repuesto</a>
                                                        </div>
                                                        <!-- /.card-footer -->
                                                    </div>
                                                    <div class="card mt-4">
                                                        <!-- .card-body -->
                                                        <div class="card-body">
                                                            <h2 class="card-title"> Reparación de la gondola </h2>
                                                            <p class="text-muted"> Aquí puede agregar los repuesto utilizados. </p>
                                                            <!-- .table-responsive -->
                                                            <div class="table-responsive">
                                                                <table class="table table-hover" style="min-width: 678px">
                                                                    <thead>
                                                                        <tr>
                                                                            <th> Repuesto </th>
                                                                            <th> Cantidad </th>
                                                                            <th></th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="align-middle"> Alexane Collins </td>
                                                                            <td class="align-middle"> fhauck@gmail.com </td>
                                                                            <td class="align-middle text-right">
                                                                                <button type="button" class="btn btn-sm btn-icon btn-secondary"><i class="far fa-trash-alt"></i> <span class="sr-only">Remove</span></button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <!-- /.table-responsive -->
                                                        </div>
                                                        <!-- /.card-body -->
                                                        <!-- .card-footer -->
                                                        <div class="card-footer">
                                                            <a href="#clientContactNewModal" class="card-footer-item" data-toggle="modal"><i class="fa fa-plus-circle mr-1"></i> Agregar repuesto</a>
                                                        </div>
                                                        <!-- /.card-footer -->
                                                    </div>
                                                </div>
                                                <hr class="mt-5">
                                                <div class="d-flex">
                                                    <button type="button" class="prev btn btn-secondary">Anterior</button> <button type="button" class="next btn btn-primary ml-auto" data-validate="fieldset02">Siguiente</button>
                                                </div>
                                            </fieldset>
                                            <!-- /fieldset -->
                                        </div>
                                        <!-- /.content -->
                                        <!-- .content -->
                                        <div id="test-l-4" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <div *ngIf="!selected" class="alert alert-warning has-icon" role="alert">
                                                    <div class="alert-icon">
                                                        <span class="fa fa-bullhorn"></span>
                                                    </div>Seleccione un vehículo para comenzar...
                                                </div>
                                                <div *ngIf="mantenimiento._user === null && selected" class="alert alert-danger has-icon" role="alert">
                                                    <div class="alert-icon">
                                                        <span class="fa fa-bullhorn"></span>
                                                    </div>Por favor inicie un nuevo mantenimiento...
                                                </div>
                                                <div *ngIf="mantenimiento._user !== null && selected">
                                                    <legend>Finalizar Mantenimiento</legend>
                                                    <!-- .form-group -->
                                                    <div class="form-group">
                                                        <label id="typeT">Tipo de mantenimiento </label>
                                                        <select #selectT name="tipo" class="form-control select2" id="tipo" style="width:100%!important;" data-parsley-group="agreement" required>
                                                        <option value=""> Seleccione un tipo de mantenimiento </option>
                                                        <option *ngFor="let type of typeMaintenances" [value]="type._id"> {{ type.name }}
                                                        </option>
                                                    </select>
                                                    </div>
                                                    <!-- /.form-group -->
                                                    <div class="alert alert-primary has-icon" role="alert">
                                                        <div class="alert-icon">
                                                            <span class="oi oi-info"></span>
                                                        </div> Al finalizar el mantenimiento indica que el vehículo egresa del taller y vuelve a estar disponible... </div>
                                                </div>
                                                <hr class="mt-5">
                                                <div class="d-flex">
                                                    <button type="button" class="prev btn btn-secondary">Anterior</button> <button type="submit" class="submit btn btn-danger ml-auto" data-validate="agreement" [disabled]="mantenimiento._user === null || !selected"><i class="fas fa-tools"></i> Finalizar</button>
                                                </div>
                                            </fieldset>
                                            <!-- /fieldset -->
                                        </div>
                                        <!-- /.content -->
                                    </form>
                                    <!-- /form -->
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.bs-stepper -->
                        <!-- toasts container -->
                        <div aria-live="polite" aria-atomic="true">
                            <!-- Position it -->
                            <div style="position: fixed; top: 4.5rem; right: 1rem; z-index: 1050">
                                <!-- .toast -->
                                <div id="submitfeedback" class="toast bg-dark border-dark text-light fade hide" data-delay="3000" role="alert" aria-live="assertive" aria-atomic="true">
                                    <div class="toast-header bg-primary text-white"> Mantenimiento Terminado </div>
                                    <div class="toast-body">
                                        <strong>éxito!</strong> El mantenimiento ha sido registrado con éxito. </div>
                                </div>
                                <!-- /.toast -->
                            </div>
                        </div>
                        <!-- /toasts container -->
                    </div>
                    <!-- /.section-block -->
                </div>
                <!-- /.tab-pane -->
                <!-- .tab-pane -->
                <div class="tab-pane fade" id="terminados" role="tabpanel" aria-labelledby="client-billing-contact-tab">
                    <h6>Mantenimientos terminados</h6>
                </div>
                <!-- /.tab-pane -->
                <!-- .tab-pane -->
                <div class="tab-pane fade" id="aprobados" role="tabpanel" aria-labelledby="client-billing-contact-tab">
                    <h6>Mantenimientos Aprobados</h6>
                </div>
                <!-- /.tab-pane -->
                <ng-template #customLoadingTemplate>
                </ng-template>
                <!-- /.table -->
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading>
            </div>
            <!-- /.tab-content -->
        </div>
        <!-- /.sidebar-section -->
    </div>
    <!-- /.page-sidebar -->
    <!-- Keep in mind that modals should be placed outsite of page sidebar -->
</div>
<!-- /.page -->