<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" [routerLink]="[ '/part', 'new']"><span class="fa fa-plus"></span></button>
<!-- /floating action -->
<div class="d-md-flex align-items-md-start">
    <h6 class="page-title mr-sm-auto"> Listado de usuarios</h6>
</div>
<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <!-- .table -->
            <table class="table dt-responsive nowrap w-100">
                <thead>
                    <tr>
                        <th> Código </th>
                        <th> Descripción </th>
                        <th> Existencia Mínimia </th>
                        <th> Existencia </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let repuesto of repuestos">
                        <td> {{ repuesto._autopart.code }} </td>
                        <td> {{ repuesto._autopart.desc }} </td>
                        <td> {{ repuesto._autopart.minStock }} </td>
                        <td> {{ repuesto.stock }} </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <th> Código </th>
                        <th> Descripción </th>
                        <th> Existencia Mínimia </th>
                        <th> Existencia Mínimia </th>
                    </tr>
                </tfoot>
            </table>
            <!-- /.table -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->