<!-- .section-deck -->
<div class="section-deck">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <h3 class="card-title"> {{ graficos.grafico1.leyenda }} </h3>
            <app-grafico-dona [Label]="graficos.grafico1.labels" [Data]="graficos.grafico1.data" Type="doughnut"></app-grafico-dona>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <h3 class="card-title"> {{ graficos.grafico2.leyenda }} </h3>
            <app-grafico-dona [Label]="graficos.grafico2.labels" [Data]="graficos.grafico2.data" Type="doughnut"></app-grafico-dona>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.section-deck -->
<!-- .section-deck -->
<div class="section-deck">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <h3 class="card-title"> {{ graficos.grafico3.leyenda }} </h3>
            <app-grafico-dona [Label]="graficos.grafico3.labels" [Data]="graficos.grafico3.data" Type="doughnut"></app-grafico-dona>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <h3 class="card-title"> {{ graficos.grafico4.leyenda }} </h3>
            <app-grafico-dona [Label]="graficos.grafico4.labels" [Data]="graficos.grafico4.data" Type="doughnut"></app-grafico-dona>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>