<!-- .page-section -->
<div class="page-section">
  <!-- .card-deck-xl -->
  <div class="card-deck-xl">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header">
        Consultar viajes
      </div>
      <!-- .card-body -->
      <div class="card-body">
        <!-- grid row -->
        <div class="row">
          <!-- .form-group -->
          <div class="form-group col-3">
            <label id="typeL">Tipo de Viaje</label>
            <select #selectTT name="typetrip" class="form-control select2" style="width:100%!important;">
              <option value=""> Seleccione un viaje </option>
              <option *ngFor="let type of types" [value]="type._id"> {{ type.name }} </option>
            </select>
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group col-2">
            <label id="typeL">Fecha inicial</label>
            <input #date1 id="flatpickr" name="date1" type="text" class="form-control" required>
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group col-2">
            <label id="typeL">Fecha final</label>
            <input #date2 id="flatpickr" name="date2" type="text" class="form-control" required>
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group col-2">
            <label for="tf2">Tarifa <span class="badge badge-warning">Extraordinaria</span></label>
            <input #extra id="ext" name="ext" type="number" class="form-control" min="0" step="0.01" value="0"
              placeholder="Ingrese la tarifa extraordinaria del viaje" required>
          </div>
          <!-- /.form-group -->
          <button type="button" class="btn btn-primary" style="margin-top: 28px; margin-left: 10px;"
            (click)="generarPreDetalle()"><i class="fas fa-search"></i> Consultar</button>
        </div>
        <!-- /grid row -->
        <br>
        <h6>Listado de viajes consultados</h6>
        <!-- .form-group -->
        <div class="form-group">
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div>
            <!-- /.btn-toolbar -->
            <!-- .input-group -->
            <div class="input-group has-clearable">
              <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i
                    class="fa fa-times-circle"></i></span></button>
              <div class="input-group-prepend">
                <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
              </div><input id="table-search" type="text" class="form-control" placeholder="Buscar...">
            </div>
            <!-- /.input-group -->
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
        <!-- .table -->
        <table id="myTable" class="table table-striped">
          <thead>
            <tr>
              <th> FECHA </th>
              <th> VEHÍCULO </th>
              <th> MTS </th>
              <th> VIAJES </th>
              <th> TOTAL </th>
              <th> TARIFA </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngIf="preDetails.length === 0">
              <tr>
                <td></td>
                <td></td>
                <td>
                  <div class="alert alert-warning has-icon" role="alert">
                    <div class="alert-icon">
                      <span class="fa fa-bullhorn"></span>
                    </div>No hay viajes encontrados, por favor realice una consulta.
                  </div>
                </td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </ng-container>
            <ng-container *ngFor="let preDetail of preDetails">
              <tr>
                <td>
                  {{ preDetail._id | date: 'dd/MM/yyyy' }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Q {{ tarifa | number: '1.2-2' }} </td>
              </tr>
              <tr *ngFor="let detail of preDetail.detalles">
                <td> - </td>
                <td>{{ detail.vehicle }}</td>
                <td>{{ detail.mts | number: '1.2-2'}}</td>
                <td>{{ detail.trips }}</td>
                <td>{{ detail.totalmts | number: '1.2-2' }}</td>
                <td class="align-middle text-left">
                  <a data-toggle="modal"
                  data-target="#modalNewTask" (click)="editar(detail._id)"
                   class="btn btn-sm btn-icon btn-secondary pointer" title="Editar"><i class="fas fa-edit"></i> <span
                      class="sr-only ">Editar</span></a>
                  <!-- <a class="btn btn-sm btn-icon btn-secondary pointer" title="Eliminar" (click)="eliminarViajeVerde( gt )"><i
         class="far fa-trash-alt "></i> <span class="sr-only ">Eliminar</span></a> -->
                </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h6>
                    Total del día
                  </h6>
                </td>
                <td>
                  <h6>
                    {{ preDetail.totalTrips }}
                  </h6>
                </td>
                <td>
                  <h6>
                    {{ preDetail.totalmts | number: '1.2-2' }}
                  </h6>
                </td>
                <td>
                  <h6>
                    Q {{ (preDetail.totalmts * tarifa ) | number: '1.2-2' }}
                  </h6>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <th></th>
              <th></th>
              <th>
                <h5>
                  TOTALES
                </h5>
              </th>
              <th>
                <h5>
                  {{ TOTALVIAJES }}
                </h5>
              </th>
              <th>
                <h5>
                  {{ TOTALMTRS | number: '1.2-2' }}
                </h5>
              </th>
              <th>
                <h5>
                  Q {{ (TOTALMTRS * tarifa) | number: '1.2-2' }}
                </h5>
              </th>
            </tr>
          </tfoot>
        </table>
        <!-- /.table -->
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
        <button *ngIf="preDetails.length > 0"  (click)="addBillDetails()"  class="btn btn-info btn-block"><i class="fas fa-arrow-down"></i> Agregar
          producción a
          pre-factura</button>
      </div>
    </div>
    <!-- /.card -->
  </div>
  <hr class="my-5">
  <!-- .card -->
  <div class="card card-fluid">
    <div class="card-header"> Crear pre-factura </div>
    <!-- .card-body -->
    <div class="card-body">
      <form ngNativeValidate [formGroup]="formGB" (ngSubmit)="crearFacturaVerde()">
        <!-- grid row -->
        <div class="row">
          <!-- .form-group -->
          <div class="form-group col-4">
            <label id="typeL">Cliente <span class="badge badge-danger">Obligatorio</span></label> <select #selectC
              formControlName="customer" name="customer" class="form-control select2" style="width:100%!important;">
              <option value=""> Seleccione un cliente </option>
              <option *ngFor="let customer of cpcustomers" [value]="customer._id"> {{ customer.name }} </option>
            </select>
          </div>
          <!-- /.form-group -->
          <button *ngIf="details.length > 0" type="submit" class="btn btn-success" style="margin-top: 28px; margin-left: 10px;"><i
              class="fas fa-save"></i> Crear pre-factura</button>
        </div>
        <!-- /grid row -->
      </form>
    </div>
    <!-- /.card-body -->
    <!-- .card-body -->
    <div class="card-body border-top">
      <div class="section-block">
        <h2 class="section-title"> Detalle de pre-factura </h2><!-- metric row -->
        <div class="metric-row">
          <!-- metric column -->
          <div class="col">
            <!-- .metric -->
            <div class="metric metric-bordered">
              <h2 class="metric-label"> Total Viajes </h2>
              <p class="metric-value h1">
                <span class="value"> {{ totalsFactura().trips }}</span>
              </p>
            </div><!-- /.metric -->
          </div><!-- /metric column -->
          <!-- metric column -->
          <div class="col">
            <!-- .metric -->
            <div class="metric metric-bordered">
              <h2 class="metric-label"> Total Metros </h2>
              <p class="metric-value h1">
                <span class="value">{{ totalsFactura().mts | number: '1.2-2' }}</span><sup>m</sup>
              </p>
            </div><!-- /.metric -->
          </div><!-- /metric column -->
          <!-- metric column -->
          <div class="col">
            <!-- .metric -->
            <div class="metric metric-bordered">
              <h2 class="metric-label"> Total </h2>
              <p class="metric-value h1">
                <sup>Q</sup><span class="value">{{ totalsFactura().total | number: '1.2-2' }}</span>
              </p>
            </div><!-- /.metric -->
          </div><!-- /metric column -->
        </div><!-- /metric row -->
      </div>
      <!-- .table -->
      <table id="myTable1" class="table table-striped">
        <thead>
          <tr>
            <th> FECHA </th>
            <th> PRODUCCIÓN </th>
            <th> VIAJES </th>
            <th> MTS </th>
            <th> TARIFA </th>
            <th> TOTAL </th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="details.length === 0">
            <tr>
              <td></td>
              <td></td>
              <td>
                <div class="alert alert-warning has-icon" role="alert">
                  <div class="alert-icon">
                    <span class="fa fa-bullhorn"></span>
                  </div>No hay producciones agregadas a la pre-factura.
                </div>
              </td>
              <td></td>
              <td></td>
              <td></td>
            </tr>
          </ng-container>
          <ng-container *ngFor="let detail of details">
            <tr>
              <td>
                {{ detail.date | date: 'dd/MM/yyyy' }}
              </td>
              <td>{{ detail._type.code + ' ' + detail._type.name }}</td>
              <td>{{ detail.trips }}</td>
              <td>{{ detail.mts | number: '1.2-2'}}</td>
              <td>Q {{ detail.cost | number: '1.2-2' }} </td>
              <td>
                Q {{ (detail.mts * detail.cost ) | number: '1.2-2' }}
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <!-- /.table -->
    </div>
    <!-- /.card-body -->
  </div>
  <!-- /.card -->
  <ng-template #customLoadingTemplate></ng-template>
  <ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="customLoadingTemplate ">
  </ngx-loading>
</div>
<!-- /.page-section -->
<app-gtrip-modal [_idTrip]="tripTemp" (pasarGreenTrip)="recibirGreenTrip($event)"></app-gtrip-modal>
