<!-- .page-section -->
<div class="page-section">
  <!-- .card-deck-xl -->
  <div class="card-deck-xl">
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header"> Generar detalle </div>
      <!-- .card-body -->
      <div class="card-body">
        <p class="text-muted"> Seleccione el viaje y el rango de fechas para generar el detalle. </p>
        <!-- grid row -->
        <div class="row">
          <!-- .form-group -->
          <div class="form-group col-4">
            <label id="typeL">Tipo de Viaje</label>
            <select #selectTT name="typetrip" class="form-control select2" style="width:100%!important;">
              <option value=""> Seleccione un viaje </option>
              <option *ngFor="let type of types" [value]="type._id"> {{ type.name }} </option>
            </select>
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group col-4">
            <label id="typeL">Fecha inicial</label>
            <input #date1 id="flatpickr" name="date1" type="text" class="form-control" required>
          </div>
          <!-- /.form-group -->
          <!-- .form-group -->
          <div class="form-group col-4">
            <label id="typeL">Fecha final</label>
            <input #date2 id="flatpickr" name="date2" type="text" class="form-control" required>
          </div>
          <!-- /.form-group -->
        </div>
        <!-- /grid row -->
        <!-- grid row -->
        <div class="row">
          <!-- .form-group -->
          <div class="form-group col-4">
            <label for="tf2">Tarifa extraordinaria</label>
            <input #extra id="ext" name="ext" type="number" class="form-control" min="0" step="0.01" value="0"
              placeholder="Ingrese la tarifa extraordinaria del viaje" required>
          </div>
          <!-- /.form-group -->
          <button type="button" class="btn btn-primary" style="margin-top: 28px; margin-left: 10px;"
            (click)="generarPreDetalle()"><i class="fas fa-search"></i> Buscar</button>
        </div>
        <!-- /grid row -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
    <!-- .card -->
    <div class="card card-fluid">
      <div class="card-header"> Crear pre-factura </div>
      <!-- .card-body -->
      <div class="card-body">
        <p class="text-muted"> Seleccione el cliente y la fecha para continuar </p>
        <form ngNativeValidate [formGroup]="formGB" (ngSubmit)="crearFacturaVerde()">
          <!-- grid row -->
          <div class="row">
            <!-- .form-group -->
            <div class="form-group col-4">
              <label id="typeL">Cliente <span class="badge badge-danger">Obligatorio</span></label> <select #selectC
                formControlName="customer" name="customer" class="form-control select2" style="width:100%!important;">
                <option value=""> Seleccione un cliente </option>
                <option *ngFor="let customer of cpcustomers" [value]="customer._id"> {{ customer.name }} </option>
              </select>
            </div>
            <!-- /.form-group -->
            <!-- .form-group -->
            <div class="form-group col-4">
              <label class="control-label" for="flatpickr">Fecha <span
                  class="badge badge-danger">Obligatorio</span></label> <input id="flatpickr" formControlName="date"
                name="date" type="text" class="form-control" required>
            </div>
            <!-- /.form-group -->
            <button type="submit" class="btn btn-primary" style="margin-top: 28px; margin-left: 10px;"><i
                class="fas fa-save"></i> Guardar</button>
          </div>
          <!-- /grid row -->
        </form>
      </div>
      <!-- /.card-body -->
      <!-- .card-body -->
      <div class="card-body border-top">
        <!-- .list-group -->
        <div class="list-group list-group-flush list-group-divider">
          <!-- .list-group-item -->
          <div class="list-group-item" *ngFor="let detail of details">
            <div class="list-group-item-figure">
              <a class="tile tile-circle bg-success"><span class="fas fa-truck-monster"></span></a>
            </div>
            <div class="list-group-item-body">
              <h4 class="list-group-item-title">
                <a> {{ detail._type.code }} {{ detail._type.name }} </a>
              </h4>
              <p class="list-group-item-text"><strong> metros: </strong>{{ detail.mts }}</p>
            </div>
            <div class="list-group-item-figure">

              <p class="list-group-item-text gree"><i class="fas fa-money-bill-wave-alt"></i> <span
                  class="badge badge-subtle badge-success"> Q.{{ total | number : '1.2-2' }}</span></p>
            </div>
          </div>
          <!-- /.list-group-item -->
        </div>
        <!-- /.list-group -->
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
  <!-- /.card-deck-xl -->
  <div class="card-deck-xl">
    <!-- .card -->
    <div class="card card-fluid">
      <!-- .card-body -->
      <div class="card-body">
        <!-- .form-group -->
        <div class="form-group">
          <!-- .input-group -->
          <div class="input-group input-group-alt">
            <!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div>
            <!-- /.btn-toolbar -->
            <!-- .input-group -->
            <div class="input-group has-clearable">
              <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i
                    class="fa fa-times-circle"></i></span></button>
              <div class="input-group-prepend">
                <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
              </div><input id="table-search" type="text" class="form-control" placeholder="Buscar...">
            </div>
            <!-- /.input-group -->
          </div>
          <!-- /.input-group -->
        </div>
        <!-- /.form-group -->
        <!-- .table -->
        <table id="myTable" class="table table-striped">
          <thead>
            <tr>
              <th> FECHA </th>
              <th> VEHÍCULO </th>
              <th> MTS </th>
              <th> VIAJES </th>
              <th> TOTAL </th>
              <th> TARIFA </th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let preDetail of preDetails">
              <tr>
                <td>
                  {{ preDetail._id | date: 'dd/MM/yyyy' }}
                </td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Q {{ tarifa | number: '1.2-2' }} </td>
              </tr>
              <tr *ngFor="let detail of preDetail.detalles">
                <td> - </td>
                <td>{{ detail.vehicle }}</td>
                <td>{{ detail.mts | number: '1.2-2'}}</td>
                <td>{{ detail.trips }}</td>
                <td>{{ detail.totalmts | number: '1.2-2' }}</td>
                <td> - </td>
              </tr>
              <tr>
                <td></td>
                <td></td>
                <td>
                  <h6>
                    Total del día
                  </h6>
                </td>
                <td>
                  <h6>
                    {{ preDetail.totalTrips }}
                  </h6>
                </td>
                <td>
                  <h6>
                    {{ preDetail.totalmts | number: '1.2-2' }}
                  </h6>
                </td>
                <td>
                  <h6>
                    Q {{ (preDetail.totalmts * tarifa ) | number: '1.2-2' }}
                  </h6>
                </td>
              </tr>
            </ng-container>
          </tbody>
          <tfoot>
            <tr>
              <th>-</th>
              <th>-</th>
              <th>
                <h5>
                  TOTALES
                </h5>
              </th>
              <th>
                <h5>
                  {{ TOTALVIAJES }}
                </h5>
              </th>
              <th>
                <h5>
                  {{ TOTALMTRS | number: '1.2-2' }}
                </h5>
              </th>
              <th>
                <h5>
                  Q {{ (TOTALMTRS * tarifa) | number: '1.2-2' }}
                </h5>
              </th>
            </tr>
          </tfoot>
        </table>
        <!-- /.table -->
      </div>
      <!-- /.card-body -->
    </div>
  </div>
  <!-- /.card-deck-xl -->
  <ng-template #customLoadingTemplate></ng-template>
  <ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="customLoadingTemplate ">
  </ngx-loading>
</div>
<!-- /.page-section -->
