<!-- floating action -->
<button type="button" class="btn btn-success btn-floated" [routerLink]="[ '/wtrip', 'new']"><span class="fa fa-plus"></span></button>
<!-- /floating action -->
<!-- .page-section -->
<div class="page-section">
    <!-- .card -->
    <div class="card card-fluid">
        <!-- .card-body -->
        <div class="card-body">
            <div class="row">
                <!-- .form-group -->
                <div class="form-group col-3">
                    <label class="control-label" for="flatpickr02">Fecha de inicio</label>
                    <input #date1 id="flatpickr" name="date1" type="text" class="form-control" required>
                </div>
                <!-- /.form-group -->
                <!-- .form-group -->
                <div class="form-group col-3">
                    <label class="control-label" for="flatpickr02">Fecha final</label>
                    <input #date2 id="flatpickr" name="date2" type="text" class="form-control" required>
                </div>
                <!-- /.form-group -->
                <button type="button" [ngStyle]="{'margin-top': '29px'}" class="btn btn-primary"><i class="fas fa-search"></i> Buscar</button>
            </div>
            <!-- .btn-toolbar -->
            <div id="dt-buttons" class="btn-toolbar"></div>
            <!-- /.btn-toolbar -->
            <!-- .form-group -->
            <div class="form-group">
                <!-- .input-group -->
                <div class="input-group input-group-alt">
                    <!-- .input-group -->
                    <div class="input-group has-clearable">
                        <button id="clear-search" type="button" class="close" aria-label="Close"><span aria-hidden="true"><i class="fa fa-times-circle"></i></span></button>
                        <div class="input-group-prepend">
                            <span class="input-group-text"><span class="oi oi-magnifying-glass"></span></span>
                        </div><input id="table-search" type="text" class="form-control" placeholder="Buscar aquí">
                    </div>
                    <!-- /.input-group -->
                    <!-- .input-group-prepend -->
                    <div class="input-group-prepend">
                        <select id="filterBy" class="custom-select">
                            <option value='' selected> Filtros </option>
                            <option value="0"> Empleado </option>
                            <option value="1"> Vehículo </option>
                            <option value="2"> Orden </option>
                            <option value="3"> Fecha </option>
                            <option value="4"> No. Documento </option>
                            <option value="5"> No. Entrega </option>
                            <option value="6"> Metros </option>
                            <option value="7"> Kilogramos </option>
                            <option value="8"> Horarios </option>
                        </select>
                    </div>
                    <!-- /.input-group-prepend -->
                </div>
                <!-- /.input-group -->
            </div>
            <!-- /.form-group -->
            <!-- .table -->
            <table id="myTable" class="table">
                <thead>
                    <tr>
                        <th> Empleado </th>
                        <th> Vehículo </th>
                        <th> Orden </th>
                        <th> Fecha </th>
                        <th> No. Documento </th>
                        <th> No. Entrega </th>
                        <th> Metros </th>
                        <th> Kilogramos </th>
                        <th> Horarios </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td> Empleado Prueba </td>
                        <td> Vehículo Prueba </td>
                        <td> 123456 </td>
                        <td> 01/01/2019 </td>
                        <td> 987654 </td>
                        <td> 123456 </td>
                        <td> 10000 </td>
                        <td>
                            <p>Bruto</p>
                            <p>Tara</p>
                            <p>Neto</p>
                        </td>
                        <td>
                            <p>Hora de Entrada</p>
                            <p>Hora de Salida</p>
                        </td>
                        <td class="align-middle text-right">
                            <a [routerLink]="[ '/wtrip', 'new' ]" class=" btn btn-sm btn-icon btn-secondary " alt="Editar "><i class="fa fa-pencil-alt "></i> <span class="sr-only ">Edit</span></a>
                            <a class="btn btn-sm btn-icon btn-secondary pointer"><i class="far fa-trash-alt "></i> <span class="sr-only ">Remove</span></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- /.table -->
            <!-- <ng-template #customLoadingTemplate></ng-template>
            <ngx-loading [show]="loading " [config]="{ backdropBorderRadius: '3px' } " [template]="customLoadingTemplate "></ngx-loading> -->
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
</div>
<!-- /.page-section -->